[2021-02-13 10:45] erciccione opened #5 "Reset git history"
Bisq's history is heavy and messed up. Better to reset it.

[2021-02-16 11:33] erciccione commented on #5
Done.

[2021-02-16 11:33] #5 closed

[2021-02-18 10:50] erciccione opened #7 "Fix Fiat <-> XMR trades"
At the moment XMR <-> Fiat trades are broken. The market appears always as xmr/xmr, even if we use fiat currencies (tested with EUR and USD).

To reproduce:

1. Alice adds her fiat account. Payment method: revolut
2. Bob adds his fiat account. Payment method: revolut
3. Both Alice and Bob have XMR on their account
4. Alice initiate a trade to sell 0.0625 XMR for USD

When looking at the "buy xmr"

[2021-02-18 11:36] erciccione opened #8 "Sanity check for BTC addresses (altcoin account) always fails"
When trying to add a Bitcoin address as an "altcoin" account the sanity check fails. I tried all types of Bitcoin address, but hey all fail.

[2021-02-20 15:16] erciccione opened #9 "XMR <-> Crypto trades fail"
To reproduce:

1. Alice initiates a trade to sell 0.01 XMR for ETH
2. Bob takes the offer
3. deposit transactions recognized and confirmed
4. Bob clicks on "Start payment"
5. Results in an error in the UI, which doesn't allow to complete the trade:

[code]

Error in Bob's terminal:

[code]

Log file from: [bisq.log](https://github.com/haveno-dex/haveno/files/6015256/bisq.log)

[2021-02-27 20:52] woodser commented on #9
This issue is likely that your local stagenet isn't using rct outputs because its block height is too low, so sending multisig transactions isn't even supported.  You can build monero-wallet-rpc with a custom set of block heights to switch to rct earlier.  To override the height when rct starts being used, set the bottom of hardforks.cpp with values like these and build monero-wallet-rpc:

[code]

[2021-03-17 10:33] erciccione commented on #9
Solved.

[2021-03-17 10:33] #9 closed

[2021-04-03 09:07] erciccione opened #11 "Set up CI"
It's very important to have continuous testing. We should set up a CI service to test at least incoming PRs and the master branch. Probably the best option would be to use GitHub's workflows, but we could also consider other tools like Travis.

[2021-04-03 12:16] erciccione opened #12 "Check what git lfs is used for and get rid of it if we don't need it"
Bisq was using it, but we probably don't need it as it seems to be used to store DAO-related files. Files stored using git lfs:

[code]

[2021-04-03 12:24] erciccione opened #13 "Remove DAO"
Everything related to the Bisq DAO needs be removed from the platform and the repository, as we don't use it.
Feel free to open other issues related to removing the DAO, but use this one as reference of the status of the entire effort.

[2021-04-08 13:30] goodboy opened #15 "Why fork bisq?"
Curious why you've decided to entirely fork `bisq` when they're already looking at adding this?

Relevant issue set:
- https://github.com/bisq-network/bisq/discussions/5285
- https://github.com/bisq-network/projects/issues/50

I mean all the power to you but just seems like burning rubber on many roads.

[2021-04-08 13:55] erciccione commented on #15
Please see in the readme: [Why a new platform](https://github.com/haveno-dex/haveno#why-a-new-platform)

That proposal is definitely an improvement over the current situation, but requiring traders to own the entire amount in Bitcoin makes it unintuitive and way too demanding. I see the point behind it and i appreciate the effort, but it don't think would bring real benefits.

[2021-04-08 14:22] goodboy commented on #15
@erciccione I think it's good if you can justify the fork 💯 .

Probably good to let new viewers of this code base see where the potential improvements can be found as things progress 🏄🏼

[2021-04-08 17:19] sethsimmons commented on #15
It's also important to note that Monero integrations have been proposed, built, and rejected several times in the past, despite the vast majority of volume on Bisq being XMR/BTC:

https://github.com/bisq-network/bisq/issues/1863
https://github.com/bisq-network/proposals/issues/110
https://bisq.network/blog/cycle-6-results/
https://github.com/bisq-network/proposals/issues/122

The latest attempt to

[2021-04-09 07:29] erciccione commented on #15
Closing this, as the question has been answered.

[2021-04-09 07:29] #15 closed

[2021-04-11 10:12] erciccione commented on #12
Apparently we are hitting Github's limits:

[code]

[2021-04-14 02:53] j7p2 commented on #7
I would like to work on this problem.
It is failing the condition test at the file desktop/src/main/java/bisq/desktop/main/offer/offerbook/OfferBookView.java at line 978.
I guess that is because PossiblePaymentAccounts.isEmpty() returns true. I didn't investigate further but I will take it from here as soon as I can.

[2021-04-15 13:34] woodser opened #17 "Create proof of concept bridging between Java and React"
Haveno's user interface is currently written in Java which limits design flexibility compared to modern UI frameworks like React and tightly couples frontend with backend application logic.

This issue requests a proof of concept demonstrating React communicating with the Haveno Java backend.  For example, the React application could simply display posted offers or the user's open trades.

Possibl

[2021-04-15 13:37] woodser opened #18 "Price per XMR is not accurate"
Currently the price per XMR actually shows the price per BTC.

![image](https://user-images.githubusercontent.com/13068859/114878192-fccbc000-9dcd-11eb-9c60-398774d0b020.png)

This issue requests fixing the price to be accurate.

[2021-04-15 13:41] woodser opened #19 "Disable dependency on BTC node [$250]"
Currently Haveno depends on a Bitcoin node, Bitcoin-Qt, for proper startup and function.

This issue requests ~~removing this dependency completely~~ disabling the BTC dependency, since it's not necessary for XMR as a base pair.

[2021-04-15 14:01] woodser opened #20 "Provide reports on Haveno's performance[ɱ2]"
Haveno's Java backend currently consumes significantly more computing resource than is necessary.

For example, performance analysis revealed the Bisq DAO to consume significant resources which will be resolved when the DAO is removed.

This issue requests detailed reports on Haveno's current resource usage in order to achieve significant performance improvements.

**Specifically requested is a li

[2021-04-15 14:03] woodser opened #21 "Deploy shared test network"
Currently Haveno is only tested using local test networks on developer machines.

This issue requests deploying a shared test network using Haveno seed nodes for developers to test.

[2021-04-15 14:06] woodser opened #22 "Create document to guide design of Haveno"
This issue requests documenting key goals of Haveno (e.g. simplicity) and differences from Bisq (e.g. 2/3 multisig vs 2/2 multisig + refund process) in order to guide user interface design.

[2021-04-15 14:10] newsyp commented on #22
I was thinking, why can't haveno just offer both?

[2021-04-15 14:47] erciccione commented on #20
@haveno-dex/developers this is a good issue to start with.

[2021-04-15 15:16] cirocosta commented on #20
tip: flamegraphs are tremendously useful - https://netflixtechblog.com/java-in-flames-e763b3d32166

[2021-04-16 03:56] dowdyma1 commented on #18
it looks like the price providers for bitcoin are held in `bisq.core.provider.ProvidersRepository`

I tried to access the 5 tor links on line 39-43, but I got an error.
I also tried to access the link on line 114, same error.

[2021-04-17 13:30] woodser commented on #22
@newsyp Both what?  2/3 multisig and 2/2 multisig with a refund process?

[2021-04-17 15:47] woodser opened #24 "Rename bisq-* cli tools to haveno-*"
This issue requests the `./bisq-*` cli tools be renamed to `./haveno-*.`.

[2021-04-17 15:49] woodser opened #25 "Add script to launch a local network"
This issue requests a script which starts Haveno test nodes in 4 terminal tabs:

- ./bisq-seednode --baseCurrencyNetwork=BTC_REGTEST --useLocalhostForP2P=true --useDevPrivilegeKeys=true --nodePort=2002 --appName=bisq-BTC_REGTEST_Seed_2002 --daoActivated=false
- ./bisq-desktop --baseCurrencyNetwork=BTC_REGTEST --useLocalhostForP2P=true --useDevPrivilegeKeys=true --nodePort=4444 --appName=bisq-BTC_R

[2021-04-17 15:59] woodser opened #26 "Reserved balance should include all funds reserved for trades"
Currently the reserved balance does not include all funds reserved in trades.  This issue requests that all funds reserved for trades be included.  That includes:

- All funds in account index 1 and after
- All funds in multisig wallets associated with open trades

[2021-04-17 16:00] woodser opened #27 "Change displayed balances"
Currently the following balances are displayed:

- Available balance: funds available to start a new trade or withdraw
- Reserved: funds reserved in trades (does not currently count all funds: https://github.com/haveno-dex/haveno/issues/26)
- Locked: locked funds which can be used to start a new trade or withdraw when unlocked

This issue requests the displayed balances be changed to:

- Balance:

[2021-04-17 16:24] erciccione commented on #25
The [Makefile](https://github.com/haveno-dex/haveno/blob/master/Makefile) offers a good starting point.

[2021-04-17 16:29] woodser opened #28 "Review, finalize, and harden core trade protocol and code"
There are many details to consider, finalize, and harden in the core trade protocol and code:

- trade removed from books immediately or when taker pays fee? see ProcessOfferAvailabilityResponse
- peer verifies fee tx (need to communicate proof)
- support arbitration fee
- no arbitrator communication until creating multisig?
- proper error handling in protocol pipelines
- verify payout txs in disp

[2021-04-17 16:37] woodser commented on #17
Current thinking is to create a Java REST service using e.g. Spring which serves Haveno's protobuf types to the React UI.

This decouples the core backend from the UI frontend.  The application can then be bundled as an Electron app or self hosted and accessed in a browser.

[2021-04-17 17:28] newsyp commented on #22
Yea like where the user can choose to open a trade with either 2/3 multisig or with 2/2 multisig and refund. If this can implemented, why not give the user the ability to decide which type of trade they wish to engage in?

Best of both worlds right?

[2021-04-17 17:32] woodser commented on #22
Bisq refunds with their DAO token which is being completely removed in Haveno.

[2021-04-17 17:35] newsyp commented on #22
hmmmm....
Do you know how other platforms do 2/2 multisig peer to peer trades? Are there other platforms that offer that?

[2021-04-17 17:36] newsyp commented on #24
Yup this one looks like the job for me!

If no one got this one I got this one.

[2021-04-17 17:42] woodser commented on #22
I'm not aware of any.

[2021-04-17 17:53] newsyp commented on #22
So let me get it straight.

A 2/3 multisig trade involves three parties; the buyer, seller and arbitrator. The seller post a trade offer, a buyer takes the offer send his fund to the arbitrator. The arbitrator holds the funds while the seller sends his part of the trade to the buyer, once the buyer receives the funds from the seller the arbitrator releases the buyers funds to the seller; completin

[2021-04-18 04:12] dowdyma1 commented on #18
I believe these links are called pricenodes. I think they are servers which the bisq team hosts to get the latest price for bitcoin. If that is true, I believe we need to host our own servers for getting the latest price for monero.

One thing that is troubling me still is that I cannot get a response of bitcoin price when I put the links into the tor browser, or a response from the http link. Thi

[2021-04-18 07:17] erciccione commented on #17
This sounds like a very good starting point.

Inputs from @haveno-dex/developers and @haveno-dex/design would be appreciated :)

[2021-04-18 07:24] erciccione commented on #18
You are not wrong. Pricenodes are managed by members of Bisq and ['pricenode operator'](https://bisq.wiki/Pricenode_Operator) is a role inside Bisq's governance system.

Detailed info: https://github.com/bisq-network/bisq/tree/master/pricenode#bisq-pricenode

[2021-04-18 08:19] erciccione commented on #22
@newsyp the arbitrator doesn't hold any fund. The 2 keys being held by taker and maker are everything needed to complete the trade. If there is a dispute, the arbitrator uses their key to decide who gets the funds.

Basically: it's a 2/3 multisig trade because only 2 keys out of 3 are needed to complete the trade. If taker and maker don't agree about the outcome of a trade, the process halts. This

[2021-04-19 15:47] woodser commented on #7
Fixed with https://github.com/haveno-dex/haveno/pull/33

[2021-04-19 15:47] #7 closed

[2021-04-19 20:57] #11 closed

[2021-04-20 08:51] erciccione opened #35 "Update copyright headers of all files"
All files have a copyright header which says `This file is part of Bisq.[...]`.

All these headers will have to say `This file is part of Haveno.[...]`. I have a PR read, but on a second thought it's probably better to wait until we start to heavily trim the code of Bisq content we don't need. A lot of file will be deleted, no reason to change their copyright header now.

[2021-04-20 10:39] erciccione commented on #22
I added an initial FAQ on github's wiki: https://github.com/haveno-dex/haveno/wiki/FAQ. We link to it from the README with #36.

This issue will be completely resolved once i've finished the doc with the trade protocol.

[2021-04-22 07:42] erciccione commented on #28
pinging @haveno-dex/developers for inputs.

[2021-04-22 18:55] j7p2 commented on #19
Someone is working on removing the dependency of the btc node? I could work on that.

[2021-04-22 23:42] niyid commented on #19
I will suggest you hold on until it is confirmed that this dependency is no longer there on the removal of the DAO components.

[2021-04-23 01:19] niyid commented on #13
Looking at this.

[2021-04-23 01:21] newsyp commented on #21
.

[2021-04-23 01:23] newsyp commented on #21
I'll be putting together an odroid soon that I intend to dedicate towards running nodes.

[2021-04-23 01:34] niyid commented on #12
I think these 3 are DAO related...

- 0feba11eb9 * p2p/src/main/resources/BlindVoteStore_BTC_MAINNET
- f56bde9875 * p2p/src/main/resources/DaoStateStore_BTC_MAINNET
- ef168a7a11 * p2p/src/main/resources/ProposalStore_BTC_MAINNET
Getting rid of DaoStateStore will be good based on the size alone and it will go once DAO is removed.

file:///home/odada/Pictures/Screenshot%20from%202021-04-23%2002-31-4

[2021-04-23 08:24] erciccione commented on #19
@niyid this is part of the effort of removing all DAO components. No need to wait, the sooner we get rid of the BTC dependency, the better.

[2021-04-23 08:31] erciccione commented on #12
Yes, i think git lfs is mostly used for that one big file. If it's related to the DAO resolving #13 should also resolve this issue.

[2021-04-23 14:49] woodser commented on #19
Yeah the BTC node might be used for atomic swaps.

In the meantime, it would be ideal if the BTC node can simply be disabled as a dependency (since technically it should not be needed).

[2021-04-26 00:47] woodser commented on #17
See [proof of concept](https://github.com/haveno-dex/haveno-ui-poc) to fetch and render data from Haveno's daemon in ReactJS using gRPC.

[2021-05-01 12:06] erciccione commented on #22
Added the trade protocol in the FAQ. It can be expanded, but it's good for now. Closing this as resolved.

[2021-05-01 12:06] #22 closed

[2021-05-02 13:30] erciccione commented on #21
As somebody suggested on matrix, would be probably a good idea to have a Dockerfile for this.

[2021-05-03 00:14] newsyp commented on #24
I've switched the package name of the java files within the cli folder from bisq.cli to haveno.cli and the same for the import statements pertaining java files within the cli folder.

I was unable to access the bisq.proto.grpc files to change bisq to haveno at the root so I left those imports alone. I had done some research into what grpc is and downloaded a few tools to help me work with them but

[2021-05-03 00:19] newsyp commented on #35
Got it, I'll sit on standby!

[2021-05-03 00:25] newsyp commented on #24
I downloaded the haveno files to my computer and made the changes there, how do I bring them over for everyone else to access here on github?

[2021-05-03 14:21] woodser commented on #24
newsyp

It's recommended to fork the Haveno repository, check out your fork locally, make the changes, push the changes to your forked repository, then open a pull request from your repository to the main Haveno repository.

[2021-05-04 01:51] Aaronstotle commented on #21
So is the ideal solution for this a Dockerfile that has a seed & arbitrator node?

[2021-05-04 07:36] erciccione commented on #21
@Aaronstotle yes. Eventually we will host it on our own infrastructure, but if in the meantime somebody else wish to have an instance up and running, please go ahead :)

[2021-05-04 08:17] erciccione commented on #12
Labelling this issue P1 (maximum priority), because we are hitting github's LFS limits (probably because of the buildbots). We need to get rid of git LFS ASAP.

[2021-05-04 19:24] premek commented on #12
currently normal `git clone` says:
[code]

[2021-05-04 19:43] premek commented on #12
could be cloned with `GIT_LFS_SKIP_SMUDGE=1 git clone SERVER-REPOSITORY`

[2021-05-06 07:53] erciccione commented on #12
@premek Could you check if you are still having ghat problem? Everything seems to be working fine for me.

Note that we still use git lfs, but for the moment is just a placeholder file. Will be populated with our network data in the future.

[2021-05-06 08:23] premek commented on #12
Yes `git clone` finishes successfully for me now

[2021-05-06 14:13] woodser commented on #12
This issue was resolved in by replacing Bisq's LFS files with a [placeholder file](https://github.com/woodser/haveno/blob/master/p2p/src/main/resources/AccountAgeWitnessStore_XMR_MAINNET_placeholder) for Haveno:

* Updated [.gittributes](https://github.com/woodser/haveno/blob/6e4f5174eb9c2de2b96682b1136442f855b26130/.gitattributes#L15) to track the new placeholder
* [BFG tool](https://rtyley.githu

[2021-05-06 14:13] #12 closed

[2021-05-07 10:09] erciccione opened #50 "Labels and Priorities"
## Labelling system

We use a labelling system to keep things organized and to make easy for potential contributors to jump in. These [labels](https://github.com/haveno-dex/haveno/labels) are purposely generic, so to be helpful, but not restricting or too time consuming.

We have 4 main categories of labels. Every issue should have at least the label specifying the issue type (`is:`), but would be

[2021-05-07 10:09] #50 closed

[2021-05-08 09:20] erciccione commented on #17
This is resolved. The PoC is here: https://github.com/haveno-dex/haveno-ui-poc and we will link to it from the README (#53)

[2021-05-08 09:20] #17 closed

[2021-05-08 15:37] woodser opened #54 "Change the logo in the desktop client"
This issue requests changing the Bisq logo currently used in the desktop client with Haveno's logo.

[2021-05-08 21:30] premek commented on #54
working on it

[2021-05-09 00:10] #54 closed

[2021-05-09 11:40] woodser opened #59 "Legacy arbitration dispute tab does not appear for Alice or Bob on first dispute"
The legacy arbitration tab does not appear for Alice or Bob when opening their first dispute.

The legacy arbitration tab displays correctly after restarting the application.

[2021-05-09 13:44] j7p2 commented on #19
I was holding as suggested. Should I look into that again? From my understanding the BTC node is only required when an exchange is being performed, so probably we should understand what is happening during the trade that requires the BTC node. Is it correct? I would look into that again if that's ok.

[2021-05-09 13:52] woodser commented on #19
Yeah the BTC node shouldn't be needed at any time to our knowledge, so we'd like to disable its use with a boolean flag.

Correct.  Last I knew it's checked to be running on startup too.

[2021-05-10 16:46] woodser opened #62 "Increase fiat trade limits"
Currently fiat trades are limited to 0.01 XMR or ~4.72 USD.  This issue requests increasing the limit.

[2021-05-10 16:55] woodser commented on #18
This issue is largely resolved by basing xmr prices on the current bisq btc price feed so prices throughout the application are approximately accurate.

In the future bisq's price feed could be replaced with a service which computes prices directly from xmr markets but this can be handled as a separate issue.

[2021-05-10 16:55] #18 closed

[2021-05-10 21:33] premek commented on #35
this script could be used to do this when its the right time

[code]

[2021-05-12 22:37] woodser commented on #8
@erciccione A regtest bitcoin address should work, like bcrt1q6j90vywv8x7eyevcnn2tn2wrlg3vsjlsvt46qz.

@premek Seems these registered accounts should validate as mainnet since payments to them are all handled externally anyway, but this would deviate from upstream and I'd consider low priority to change.

In that case, we should consider this issue expected behavior?

[2021-05-13 13:38] woodser opened #68 "Backup XMR wallets"
This issue requests support to periodically backup all XMR wallets and the BTC wallet in the application folder to ./xmr_stagenet/wallet/backup like what is currently done with the BSQ wallet.

[2021-05-13 13:48] woodser opened #69 "Support atomic swaps with BTC"
This issue requests support for atomic swaps between XMR and BTC using [Farcaster](https://github.com/farcaster-project), [COMIT](https://github.com/comit-network/xmr-btc-swap), or other suitable project to facilitate the trade protocol.

[2021-05-13 19:57] jerzybrzoska opened #71 ""Error in the pull function." when attempting to clone"
When attempting to clone the repository by running:
[code]
I get the following output:
[code]

[2021-05-13 20:03] premek commented on #71
can you try some of the tips here? https://stackoverflow.com/questions/38378914/how-to-fix-git-error-rpc-failed-curl-56-gnutls

[2021-05-13 20:20] woodser opened #73 "Add ability to freeze and thaw outputs using monero-wallet-rpc"
Haveno depends on the ability to freeze and thaw outputs from monero-wallet-rpc, so this issue requests implementing that functionality in monero-project.  [See existing issue](https://github.com/monero-project/monero/issues/7720)

[2021-05-13 20:22] woodser opened #74 "Return key images or output indices of spent outputs in monero-wallet-rpc transfer and transfer_split"
Haveno depends on the ability to get key images or output indices of spent outputs from `transfer` and `transfer_split` in monero-wallet-rpc, so this issue requests implementing that functionality in monero-project. [See existing issue](https://github.com/monero-project/monero/issues/7721)

[2021-05-14 07:31] erciccione commented on #71
This seems to be a local problem unrelated to Haveno. Please try @premek's suggestion and see if that works.

[2021-05-14 10:45] jerzybrzoska commented on #71
As suggested in the link that @premek provided, `apt install gnutls-bin` resolved the issue.

[2021-05-14 10:45] #71 closed

[2021-05-14 12:18] woodser commented on #73
I'm working on this.

[2021-05-14 14:58] erciccione commented on #25
I'm gonna finish updating the docs then i'll take care of this.

[2021-05-15 07:43] erciccione commented on #13
@haveno-dex/developers this issue is open for assignment.

[2021-05-15 19:05] premek commented on #13
I think @woodser wanted to keep some level of compatibility with upstream. should the dao code be removed or hidden behind a feature flag or what exactly is the idea here (if any)? thanks

[2021-05-15 19:25] woodser commented on #13
The entire DAO can be removed.

[2021-05-15 23:13] l0nelyc0w commented on #13
Hello, I would like to try to give this issue it a try.
I created a new account in order to maintain my privacy. As such I am not able to show any project portfolio. I had thought of forking Bisq to make it monero-based instead of btc-based a couple of months ago so I am very happy to see the same idea getting traction!

[2021-05-16 08:16] erciccione commented on #13
@l0nelyc0w i assigned this issue to you. Please keep us updated :)

[2021-05-16 12:39] erciccione commented on #28
removing `needs:discussion` label. As this is an internal todo listi and some of its content will be split into single issues later on.

[2021-05-16 14:08] l0nelyc0w commented on #13
On Sun, May 16, 2021 8:16 am, erciccione wrote:

I have started working on the issue. I will keep you updated :)

[2021-05-16 14:44] l0nelyc0w commented on #13
@erccione Local Haveno testnet and local Monero stagenet ready.
I have started working on the issue. I will keep you updated!

[2021-05-16 23:16] newsyp commented on #35
How exactly can I use that script?

Is that part of the bash interface?

[2021-05-16 23:20] newsyp commented on #21
I'm getting close to having the odroid up.
How do I deploy a shared test network?

[2021-05-17 00:21] premek commented on #19
I will try to write down when I spot a BTC/node dependency being used somewhere

- [ ] lot of it will be in the DAO - should be removed in #13
- [ ] `WalletsSetup`
  - [ ] `hasSufficientPeersForBroadcast`
  - [ ] `isDownloadComplete`
  - [ ] `isChainHeightSyncedWithinTolerance`

[2021-05-17 07:59] erciccione commented on #35
@newsyp you just have to run the commands listed in a bash shell. Better wait until #40 is merged, since a lot of files will be removed and doesn't make sense to change their headers now.

[2021-05-17 12:30] woodser commented on #21
Should be a matter of hosting one or more seed nodes and one or more arbitrator nodes configured to talk to each other, then running a client that connects to the hosted seed and arbitrators.

[2021-05-17 19:34] newsyp commented on #21
I'm just waiting on some eth cables to come in so I can connect to the net.

[2021-05-18 23:58] woodser commented on #73
Implemented by https://github.com/monero-project/monero/pull/7729

[2021-05-18 23:58] woodser commented on #74
Implemented by https://github.com/monero-project/monero/pull/7730

[2021-05-19 22:28] l0nelyc0w commented on #13
Progress Update:

Pushed a commit on my remote to avoid data loss as I have removed a lot of code related to dao and bsq. Maybe the initial approach to remove the whole dao folders and all files that were exclusively related to dao/bsq wasn't "the right way" but after working some days in debugging the errors it really helped to get familiar with a lot of the related code.
A lot of code was remove

[2021-05-19 22:36] l0nelyc0w commented on #13
After figuring out all the interconnections, a more top-down approach may be followed starting by removing the dao/bsq code related to UI first and progressively removing/refactoring the underlying components while maintaining a working codebase.

[2021-05-20 02:16] l0nelyc0w commented on #25
I made some scripts before seeing this issue.
You can find them here https://github.com/l0nelyc0w/haveno-helper
Hope you may find them helpful.

[2021-05-20 14:37] erciccione commented on #25
@l0nelyc0w i think we will use the present makefile. So to launch (or give the possibility to launch) all instances at once and possibly communicate with the XMR and BTC nodes at the same time. Probably part of #21 would be solved too, since having our private stagenet online will make things easier for everybody.

[2021-05-20 16:42] woodser opened #83 "Support multiple destinations in make_uri and parse_uri [$350]"
This issue requests supporting multiple addresses and amounts in monero-wallet-rpc's [make_uri](https://www.getmonero.org/resources/developer-guides/wallet-rpc.html#make_uri) and [parse_uri](https://www.getmonero.org/resources/developer-guides/wallet-rpc.html#parse_uri).

This will be used to deposit 2 outputs to the Haveno wallet, one to cover the deposit amount and one to cover the trade fee, in

[2021-05-20 16:57] woodser commented on #13
Please keep in mind we want the minimum changes possible to remove the DAO.

[2021-05-20 17:54] l0nelyc0w commented on #25
On Thu, May 20, 2021 2:41 pm, erciccione wrote:

Ahh didn't notice the makefile, I made the scripts while setting up my
environment before noticing the issue.

[2021-05-20 21:15] l0nelyc0w commented on #13
On Thu, May 20, 2021 4:57 pm, woodser wrote:

After better understanding all the DAO I can refactor the code as needed
and in any way you prefer. However as the DAO spans a lot of the codebase
I need some advice as to which is the most preferable way to refactor some
cases.

Should the DAO folders be deleted or should all code be commented out?
Should UI buttons that toggle between btc and bsq be

[2021-05-22 18:43] #62 closed

[2021-05-22 19:40] premek commented on #13
I'm not someone who can decide anything here but I'd like to vote for NOT leaving commented code blocks in.

[2021-05-22 19:41] xrv0 commented on #13
I agree. You can always go back and look at the code if you really need to. Unused code should be removed.

[2021-05-22 21:58] l0nelyc0w commented on #13
@premek
@xrv0

I agree. Just wanted to make sure.

[2021-05-23 09:14] woodser commented on #13
Yep agreed, let's remove the unused code blocks.

[2021-05-23 10:18] erciccione commented on #13
Because of the current price drop and volatility, we decided to set the bounty for this issue in dollars: $250 (will be still released in XMR). The bounty was previously set at 0.6 Moneroj, which is about $127 at the current XMR price.

[2021-05-23 10:48] erciccione commented on #19
Because of the current price drop and volatility, we decided to set the bounty for this issue in dollars: $50 (will be still released in XMR). The bounty was previously set at 0.15 Moneroj, which is about $32 at the current XMR price.

[2021-05-25 14:21] woodser opened #86 "Implement efficient generation of multisig wallet addresses [$2500]"
Currently a taker must pay a trade fee before initializing the multisig wallet with the maker and arbitrator in order to prevent takers from spamming peers with unpaid work by creating multisig wallets.

As a result, the taker must have 2 outputs available in order to take a trade, one to cover the trade fee and one to deposit to multisig, which complicates the user experience. If the multisig wal

[2021-05-25 15:26] benevanoff commented on #83
I am beginning work on this now

[2021-05-25 15:29] erciccione commented on #83
Thanks @benevanoff. Please use #haveno-dev on matrix or freenode for questions and coordination :)

[2021-05-28 18:17] l0nelyc0w commented on #13
It seems that I have underestimated the complexity of the dao issue. Removed some unit tests that I thought were relevant to dao, like offers with bsq as fee currency from non-guice tests. But I am currenly stuck at failing GuiceSetupTest for desktop and seednode and was't familiar with google's guice so I've been reading up on it to be able to debug it's error log. I get missing implementation er

[2021-05-28 21:53] premek commented on #13
Not sure if it is feasible because of the bounty but if you push your WIP branch I can have a look. Not saying I'll be able to help but I can try :)

[2021-05-28 23:38] l0nelyc0w commented on #13
@premek Feel free to check it out, I have pushed my commits on my branch: https://github.com/l0nelyc0w/haveno/tree/remove-dao. There must be a lot of mistakes, maybe I overdid it a little bit with code deletion, I feel that I am getting really close but at the same too many components and layers are involved and I've lost scope.

[2021-05-29 07:55] erciccione commented on #13
@premek the bounty can be split between multiple people, if they give a concrete contributions to solving the issue.

[2021-05-29 10:22] erciccione commented on #69
The COMIT team has announced mainnet Monero <-> Bitcoin atomic swaps.

https://twitter.com/comit_network/status/1398200695015174144
https://www.reddit.com/r/Monero/comments/nmtdpr/let_there_be_swap_on_mainnet/

[2021-05-29 22:46] UkoeHB commented on #86
Until commit-and-reveal is implemented (assuming it does...) (see ZtM2 section 9.3), you will need to make sure makers and takers never re-use keys between orders. Always generate new subaddresses. Even that restriction may not be enough to prevent Wagner attacks (ask a real cryptographer).

[2021-05-30 07:08] erciccione commented on #13
We decided to raise the bounty to $400

[2021-05-30 21:01] premek commented on #13
I just quickly skimmed through the changes and to me it looks like it's going in a good direction.

@woodser  maybe you could give it 1 minute to see if it is in line with what you had in mind?
https://github.com/haveno-dex/haveno/compare/master...l0nelyc0w:remove-dao

@l0nelyc0w  I checked out your branch, tried to compile and there was only one test failing that could be fixed if in BitcoinModul

[2021-05-31 12:03] l0nelyc0w commented on #13
@premek That did the trick, thank you very much! If you like you can help check if any of the removed unit tests should be refactored and reinserted (ex TxValidatorTest). An isolated part you can work on is GUI.

Currently (manually) testing desktop client and getting an error about MakerFee being zero during ValidateOffer when trying to create a new offer to sell XMR for BTC. I think @woodser sai

[2021-05-31 12:32] woodser commented on #13
The MakerFee is the maker's trade fee and I think the TxFee is the BTC fee estimate. There should be no functional change to these fields as part of DAO removal, even if removed in the future.

[2021-05-31 12:37] woodser commented on #13
I left some early general comments. When ready, please squash commits to a branch for review.

[2021-05-31 14:04] l0nelyc0w commented on #13
Will do, this was the WIP branch so commits were done mostly on a daily basis.

[2021-05-31 20:32] UkoeHB commented on #86
I am investigating this issue. Multisig wallet/address generation needs a major overhaul.

[2021-05-31 20:34] woodser commented on #86
MRL is also investigating multisig with tryptich.

[2021-06-01 15:30] erciccione commented on #86
A good point from tobtoht (i invited them to join the conversation here):

With Triptych on the horizon it might be a waste of time to build on top of the current ms implementation as a lot of ms related code and wallet APIs may need to be changed/rewritten.

[2021-06-01 16:46] UkoeHB commented on #86
I am operating on the assumption that wallet/address generation will be unaffected.

[2021-06-02 19:18] #68 closed

[2021-06-02 20:18] woodser commented on #83
Note multi-output deposits are no longer needed with the new trade protocol, but we will honor the bounty once merged into monero-project.

[2021-06-05 22:50] premek commented on #13
@l0nelyc0w I made a PR from my fork into your fork with some more small removals, I hope we don't work on the same parts. I will try to continue when I find some time, so please push your changes when you make some. I will try to look at the GUI next time as you said

[2021-06-11 11:52] erciccione commented on #13
Hey @l0nelyc0w @premek how is the removal going?

[2021-06-11 18:04] l0nelyc0w commented on #13
@erciccione

Trying to debug some issues that have arisen during testing namely the following:
-when you try to create a new altcoin account thelist is empty in AltcoinAccountView (but in PreferencesView work ok)
-if you create an offer the buyer does not find the taker tx id
-blockchain does not confirm that the monero payment has been sent so trade cannot complete (but unlocks the coins sent fro

[2021-06-13 22:52] premek commented on #19
It seems to me the btc node was used only in "full dao" mode

apart from that bitcoinj (java implementation of bitcoin node) is used in the code for BTC & BSQ wallets. BSQ wallet should be removed with the DAO, BTC wallet will be replaced with XMR (rpc) wallet

on some places bitcoinj connection to the bitcoin network is also used to check if it is fully synced, number of peers etc (see above)

[2021-06-24 02:15] l0nelyc0w commented on #13
Just a quick update, premek has done a lot of work removing DAO and BSQ references and cmdline args and also fixed the first issue mentioned above (when you try to create a new altcoin account the list is empty in AltcoinAccountView).

We are still working on the rest of the issues.

[2021-07-05 08:39] erciccione commented on #73
monero-project/monero#7729 is merged. Monero now supports freezing and thawing outputs.

[2021-07-05 08:39] #73 closed

[2021-07-05 16:26] woodser commented on #73
It's merged into monero-project master but not the v0.17 release to be in the next update. Maybe they will accept it being merged there.

[2021-07-10 07:59] erciccione opened #95 "Build fails because downloading jackson-module-jaxb-annotations dependency gives a 404 error"
`https://mvnrepository.com/com/fasterxml/jackson/module/jackson-module-jaxb-annotations/maven-metadata.xml` seems to not exist anymore.

`./gradlew build --scan`:

[code]

[2021-07-11 00:52] UkoeHB commented on #86
I have an outline of the address generation workflow, but won't be able to pursue an implementation for a while. If someone else wants to pick this up from my notes, I am happy to collaborate.

[2021-07-11 15:38] woodser commented on #86
Note that efficient multisig creation is more an optimization than necessity now for Haveno.

The protocol will lock both traders into multisig with only 1 output with or without efficient multisig.

[2021-07-14 02:49] l0nelyc0w commented on #13
Another quick update, we are still working on the issue, premek removed some more BSQ references, while I have been trying to debug a problem regarding the reservation of an incorrect amount of XMR when creating a new offer.

[2021-07-24 11:59] #95 closed

[2021-07-28 01:53] DangerOnTheRanger commented on #21
This involves dockerizing the existing node codebases, correct? I think I can take a swipe at filing a PR for this if so.

[2021-07-28 08:48] erciccione commented on #21
@DangerOnTheRanger not necessarily, but could be an option. The main point is to have the seednode online and then let people connect to it.

[2021-08-04 09:04] erciccione opened #102 "Fix 'key cancellation' and 'address hostage' bugs on Monero multisig [$1000]"
Monero's multisig implementation has some vulnerabilities:

- Key cancellation attack: during address construction, the attacker can 'cancel' the share components of other participants, giving himself full authority to spend funds
- Address hostage attack: during address construction, the attacker can add a non-shared key, forcing all participants to collaborate with him on any signature

These bu

[2021-08-04 09:12] erciccione opened #103 "Fix 'Wagner/Drijvers attack' in Monero multisig [$2500]"
Monero's multisig is vulnerable to the Wagner attack, where if multiple signatures are constructed for a given address, and the wagner attack is executed, then the attacker can learn the private key shares of other participants.

This (and #102 ) has been discussed with Monero's core team (@luigi1111) and researchers (@moneromooo-monero, @sarangNoether and @UkoeHB.)

Sarang's suggestion is to fix

[2021-08-04 16:39] UkoeHB commented on #102
Here is my [WIP branch](https://github.com/UkoeHB/monero/tree/multisig_addr_v2).

[2021-08-05 08:35] DangerOnTheRanger commented on #21
Unfortunately, I had somehow missed haveno was under the AGPL, which is a license I'm not allowed to submit patches for while I'm at my current employer. (If other repositories in the haveno umbrella under a different license - I didn't see one in the UI proof of concept repo, for instance - I could contribute to those.)
Sorry about the lack of due diligence on my end - but I thought I'd put a hea

[2021-08-06 09:48] erciccione commented on #21
@DangerOnTheRanger thanks for letting us know the issue. We added the BSD-3 license to the [haveno-ui-poc](https://github.com/haveno-dex/haveno-ui-poc) repository. We are still discussing internally what would be the best license for the future UI repository.

[2021-08-06 20:21] woodser commented on #74
PR to release-v0.17 branch: https://github.com/monero-project/monero/pull/7838

[2021-08-06 20:23] woodser commented on #73
PR to release-v0.17 branch: https://github.com/monero-project/monero/pull/7838

[2021-08-10 14:20] AAH20 commented on #103
I've the Solution , Adding some Data Encryption Standards simple components such as permutation of private addresses during multisig. , several encryption algorithms can be applied here , but the performance decide the winner.

[2021-08-10 14:55] AAH20 commented on #103
**### In This call within the "multisig.h" file**

crypto::secret_key generate_multisig_view_secret_key(const crypto::secret_key &skey, const std::vector<crypto::secret_key> &skeys);

both arguments will be swapped with a fresh generated obfuscated secret key alternatives using the permutation method which the simplest component of the Data Encryption Standard process , then thrown after each tran

[2021-08-10 15:02] AAH20 commented on #103
therefore i've an important note about the implementation of the account_keys data structure as a struct bec. it is not efficient when it comes to garbage management , should have been implemented as a class to facilitate using of destructor methods.

[2021-08-10 15:17] AAH20 commented on #103
This Solution also might provide an efficient enough solution to solve this #86 "multisig wallets generation time issue".

[2021-08-18 15:47] HoverHalver commented on #18
Hello,
you must add getAllMarketPrices to a pricenode onion address in order to get the data.
ie pricenode.onion/getAllMarketPrices

[2021-08-19 13:56] UkoeHB commented on #103
A [PR is open](https://github.com/monero-project/monero/pull/7877) to resolve this issue.

[2021-08-19 13:57] UkoeHB commented on #102
A [PR is now open](https://github.com/monero-project/monero/pull/7877) to resolve this issue.

[2021-08-19 14:05] UkoeHB commented on #86
A [semi-stable branch](https://github.com/UkoeHB/monero/tree/multisig_addr_v2_boost) to resolve this issue is prepared. It is waiting on [this PR](https://github.com/monero-project/monero/pull/7877).

[2021-08-21 15:10] l0nelyc0w commented on #13
The last month since around the time the issue with transitive dependencies of jackson-annotations came up, I have been having some problems with gradle builds failing due to unresolved dependencies. Reasons are 403 Forbidden and connection time outs when trying to connect to repo.maven.apache.org and mvnrepository.com. As I am working from Whonix it seems that Cloudflare blocks requests from Tor

[2021-09-01 09:32] erciccione opened #110 "Reduce the number of requests to poll a Monero daemon"
"Currently, wallets make up to 4 requests each time a wallet polls a daemon: get_info, get_transaction_pool_hashes, get_transactions, and get_blocks.bin.

As a result, daemons must service up to 4 requests for each client poll, and the user may experience a noticeable delay before their wallet even starts to sync blocks if their connection is slow."

See the issue on the Monero repo for the full d

[2021-09-02 16:31] erciccione commented on #13
Hey @l0nelyc0w how is this going? Any progresses?

[2021-09-02 16:45] erciccione commented on #19
Bounty bumped to $250

[2021-09-03 00:59] M0ner0Mum commented on #20
I ran the `perf` command on "alice" in the guide at https://github.com/haveno-dex/haveno/blob/master/docs/installing.md

You can find the svg flamegraph at https://github.com/M0ner0Mum/haveno-performance

[2021-09-03 07:58] erciccione commented on #20
Hello @M0ner0Mum. Thanks for the chart. Note that to receive the bounty we need more details:

[2021-09-07 15:10] l0nelyc0w commented on #13
@erciccione

I decided to drop Whonix and setup a Debian 11 testing VM for developing haveno and I finally managed to build it a few days ago without any problems after ~40-45 days of frustration and failing builds.

I've resumed working daily on the issue and I am sure that it be fixed within this month.

Hope you can you can understand my frustration. I have not abandoned the project.
Will keep

[2021-09-08 08:45] erciccione commented on #13
I understand, i just wanted to have the situation clear. Thanks for the update :)

Note that we implemented the new trade protocol with #107, so you probably want to rebase on top of that.

[2021-09-08 12:08] woodser commented on #74
Closed with monero-project/monero#7839 being merged and used.

[2021-09-08 12:08] #74 closed

[2021-09-08 12:10] woodser commented on #26
Resolved with https://github.com/haveno-dex/haveno/commit/86f7d090b62bd8b4a3263a4d9a08a28eba64d09a.

[2021-09-08 12:10] #26 closed

[2021-09-08 12:11] woodser commented on #27
Closing because this issue depends on how we want to display balances in the new UI design.

Currently the application displays unlocked balance, locked balance, and reserved balance for trades.

[2021-09-08 12:11] #27 closed

[2021-09-08 12:14] woodser commented on #13
Please make sure you're working on the latest master which includes the new trade protocol.

[2021-09-10 00:34] chaserene commented on #19
I'm bumping the bounty to $500 ($250 contribution from me, to be paid in XMR).

[2021-09-10 00:47] chaserene commented on #20
I'm bumping the bounty to 2 XMR (1.5 XMR from me).

[2021-09-12 08:14] rbrunner7 commented on #110
I will make a serious attempt to implement this, over the next 3 calendar weeks or so because working on spare time.

First looks into the existing code of the RPC calls to be replaced by this single new call and their use in `wallet2` and `simplewallet`let me suspect that closely working together with @woodser on the exact requirements will probably be a good idea.

[2021-09-12 08:27] rbrunner7 commented on #110
Thanks for the assignment!

A very first question: Where do I best place questions that I run into with this? Right here, or in some Haveno IRC / Matrix channel?

[2021-09-12 08:36] erciccione commented on #110
Thank you for working on this :)
The best place is `#haveno-dev` on IRC/Libera (`#haveno-dev:haveno.network` on Matrix)

[2021-09-12 18:02] l0nelyc0w commented on #13
@erciccione
@woodser

I have rebased on top of upstream master, not many conflicts and most were easy to merge.
The problem I am currently facing is that when an open offer is taken by another party, it is marked as having an invalid state as soon as it is moved to open trades.
Maker's reason for invalid state is "The peer's taker fee transaction is missing."
The open trades state are also seen by

[2021-09-12 18:30] woodser commented on #13
Maker's reason for invalid state is "The peer's taker fee transaction is missing."

Did you recreate your application folders (seed, alice, bob, and arbitrator) after rebasing?

This behavior was the same before merging the trade protocol, I believe? It will need resolved as its own issue.

[2021-09-12 18:55] l0nelyc0w commented on #13
Yes I removed the folders and started from scratch.

Yes this behavior was the same before merging.

Neither problem is related to the new or the old trade protocol, it has to do with changes on my branch.
I think if I resolve those two issues, the branch will be ready for merging with upstream.

[2021-09-12 19:14] woodser commented on #13
Where do you see it marked as invalid state?

[2021-09-12 19:19] l0nelyc0w commented on #13
In the open trades window it is marked on the left side of the view next to its id and on the right side of the view next to the chat icon.

[2021-09-12 19:30] woodser opened #113 "Trade within Open Trade view indicates false errors"
Once a taker takes an offer, the trade in Open Trades shows errors: N/A for "Taker fee transaction ID" and "The peer's taker fee transaction is missing". These errors do not prevent trades from completing. Error checks and the legacy gui need updated to reflect the new trade protocol which does not have separate fee transactions.

[2021-09-12 19:31] woodser commented on #13
Got it. These errors are false alarms. They reflect outdated checks and legacy gui which expect a separate fee transaction.

Opened an issue to remove these false errors: https://github.com/haveno-dex/haveno/issues/113

[2021-09-12 19:34] l0nelyc0w commented on #13
Ok will turn to find out why the open trades are also accessible from the arbitrator.
Will keep you updated.

[2021-09-12 19:45] woodser commented on #13
Unless your branch introduces issues not present on master, fixing the arbitrator trade step view should be done as a separate issue and PR.

Currently when an arbitrator starts arbitrating a trade, it creates an internal trade which then appears under its Open Trades. Perhaps such trades should be completely hidden from Open Trades, or that view could be updated to correctly show the arbitrator p

[2021-09-12 19:52] l0nelyc0w commented on #13
Will build latest master to check out latest behavior.

Noticed the role the arbitrator plays during the multisig but wasn't aware of the visibility of that trade on the UI.

I will check if any other issues exist solely on my branch and the existence of any deviations from master and will update you accordingly.

[2021-09-13 00:36] chaserene commented on #19
is @premek no longer working on this?

[2021-09-13 07:25] erciccione commented on #19
@chaserene this issue is currently unassigned and i don't think premek is working on it. Let me know if you wish to pick it up so i can assign it to you.

[2021-09-13 07:41] erciccione commented on #8
Yep. Closing.

[2021-09-13 07:41] #8 closed

[2021-09-13 07:48] premek commented on #19
I believe this will be resolved after removing the DAO. I suggest wait for the dao-removal to be merged and the see if anything needs to be done

[2021-09-13 19:43] chaserene commented on #103
FYI, issue in upstream: https://github.com/monero-project/monero/issues/7830

[2021-09-13 20:46] premek commented on #19
maybe until then someone could try what exactly fails if you don't run the btc node as it is now. To me it looked like it is not really required when you run haveno with `--daoActivated=false` as per the current install instructions.
If we have a stacktrace or an error message (from running haveno without btc node) that would be a good start to remove the dependency.

[2021-09-14 17:46] woodser opened #115 "Support creating crypto payment accounts from grpc api"
Currently, creating crypto payment accounts is unsupported using the grpc api.

This issue requests implementing support for crypto payments over the grpc api here: https://github.com/haveno-dex/haveno/blob/59f3fc63854af63ac0387f9f792203b911d01e87/core/src/main/java/bisq/core/api/CorePaymentAccountsService.java#L102

To run a test which exercises the grpc call to create a crypto payment account:
1

[2021-09-18 16:23] eum2o opened #118 "Create Documentation How to Set Up Haveno for Development in Eclipse"
It'd be helpful if there was some guidance how to set up this repository in Eclipse. In particular:

* How to configure Eclipse to use the wrapped Gradle or alternatively how to configure Eclipse's Gradle wrapper (so that sources compile eventually)?
* What project natures to configure?
* How to start Haveno from Eclipse (to be able to debug etc.)?

Since the .gitignore contains `.project`, I assu

[2021-09-18 23:42] l0nelyc0w commented on #13
So after building upstream master I can confirm that both the arbitrator's view and invalid trade false flag existed on upstream before merging.

I have successfully completed both a BTC/XMR and XMR/BTC trade on my local branch after rebasing on upstream with new trade protocol. If anyone can test it to confirm that building and using my branch produces the same behavior with upstream it would be

[2021-09-19 16:40] chaserene commented on #103
going by [this comment](https://github.com/monero-project/monero/issues/7830#issuecomment-907478929), maybe a more actionable title for this bounty would be "Implement thring signatures", wouldn't it?

[2021-09-19 17:03] bitcoinlion21 opened #120 "Accounts age and status determined by user not by individual from of payment account"
Changing the Revolut account on Bisq, it use to be that on the Revolut account you had to put username and phone number, later that was changed to just the username.
Changing just the account of Revolut to a username only on Bisq means to delete the account and lose the signed status and age. I thought that it would by nice that in Haveno there was a possibility to transfer that aged status with a

[2021-09-22 14:36] l0nelyc0w commented on #13
Removed most references left relevant to dao, apart from strings in i18n.
I think it works fine, completed about 20 trades while continuously building and testing.
Will rebase again on upstream master and then will be ready for PR.

[2021-09-22 16:47] l0nelyc0w commented on #13
Rebased and resolved conflicts.
Preparing for PR.

[2021-09-25 21:09] l0nelyc0w commented on #19
I can confirm that remove DAO partially resolves this issue for the most part except in one point, during trade step "Confirm payment received" when peer presses "CONFIRM PAYMENT RECEIPT" button an error message pops upp "You need to wait until you have at least 1 connection to the Monero network.".

Works like a charm up until then without starting BTC node.

[2021-09-26 11:52] erciccione commented on #13
Patch proposed: #121

[2021-10-16 09:13] woodser opened #123 "Update to Tor v3 [$200]"
This issue requests updating Haveno to use Tor v3.

See relevant issues in Bisq for reference: https://github.com/bisq-network/projects/issues/23

[2021-10-16 09:51] erciccione opened #124 "Make GitHub actions use the Makefile"
At the moment our github action workflow calls `./gradlew build`. We should change it to use the newly added Makefile instead (#105)

[2021-10-16 10:07] erciccione commented on #123
For this issue to be resolved, Tor v3 should be implemented across the platform, which should run without failures of any kind (related to the migration from Tor v2 to v3). Haveno on Tor v3 must run without issues on the 3 main operative systems (linux, mac, windows).

The kanban board used by Bisq to track their migration from v2 to v3 could be useful: https://github.com/orgs/bisq-network/project

[2021-10-18 16:27] woodser opened #125 "Fix price feed and support XMR/BTC trades"
This issue requests fixing the price feed for the BTC/XMR pair.

Steps to reproduce:
1. launch alice or bob desktop app
2. add BTC as a new "altcoin account"
3. in the price pull down in the upper right, observe that the BTC/XMR price is N/A whereas it should be correct
4. start creating a new offer to buy or sell XMR for BTC
5. observe that there is no "below % from market price" input box, where

[2021-10-21 02:17] agg505 commented on #20
I monitored cpu consumption for the app in idle state without DAO.
By VisualVM and JMC, we can see the top consumer threads and methods.
And I'll make up reports for app and seednode with and without DAO if this kind of report is ok.

![微信截图_20211021101304](https://user-images.githubusercontent.com/5590596/138199375-e4bd8fea-69b1-4872-accf-ed40d2415276.png)
![微信截图_20211021101538](https://user-imag

[2021-10-21 15:01] premek commented on #13
Received, thanks a lot

[2021-10-21 16:41] erciccione commented on #19
Now that the DAO is removed (#121), anybody willing to resolve this issue?

[2021-10-21 16:50] premek commented on #19
Could you please assign it to me

On Thu, 21 Oct 2021, 18:41 erciccione, ***@***.***> wrote:

[2021-10-22 01:39] l0nelyc0w commented on #13
I confirm I received the reward. Thank you very much.

[2021-10-24 08:36] erciccione opened #132 "Build fails because checksum for jtorctl fails"
[code]
Bisq seems to be having the same issue.

[2021-10-24 13:23] #125 closed, assigned to nobody

[2021-10-27 12:27] erciccione opened #135 "Add woodser's gpg key to gpg_keys/"
My key was added with https://github.com/haveno-dex/haveno/pull/133.

[2021-10-27 18:20] woodser opened #136 "Add API functions to initialize Haveno account [$1500]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to create or restore a Haveno account on startup.

These API calls will be used to feed Haveno's startup UI:

![image](https://user-images.githubusercontent.com/13068859/139125422-a8dd2085-a344-4bda-a95f-03195fa63990.png)

![image](https://user

[2021-10-27 18:20] woodser opened #137 "Add API functions to start and stop local Monero node [$300]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to start and stop a local Monero node.

The following functions are requested as additions to [HavenoDaemon.ts](https://github.com/haveno-dex/haveno-ui-poc/blob/master/src/HavenoDaemon.ts). Feedback is welcome.

| API Function | Return | Descri

[2021-10-27 18:20] woodser opened #138 "Add API functions to manage Monero daemon connections [$1000]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to manage Monero daemon connections.

These API calls will feed the UI to select and connect to a daemon connection:

![image](https://user-images.githubusercontent.com/13068859/139126138-50e5d6b2-2bb2-43ce-9bb2-01ea0d1c17e3.png)

The following

[2021-10-27 18:22] woodser opened #139 "Add API function to get market prices for all trade pairs [$250]"
This issue requests [adding a new API function](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to get market prices of all trade pairs.

This API call will provide market prices for the UI:

![image](https://user-images.githubusercontent.com/13068859/139133722-d9904d48-7178-4962-8af9-643ac0c4ef79.png)

The following API function is a re

[2021-10-27 18:23] woodser opened #140 "Add API function to get market depth data of a trade pair [$250]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to get market depth data of a trade pair.

This API call will provide market depth data for the UI:

![image](https://user-images.githubusercontent.com/13068859/139133632-7f6fbe48-68f1-4471-abe0-e9832310dcbd.png)

The following function is a re

[2021-10-27 18:23] woodser opened #141 "Add API functions to get wallet transfers and withdraw funds [$400]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to get transfers and withdraw funds.

These API calls will feed the UI wallet functionality:

![image](https://user-images.githubusercontent.com/13068859/139133396-05c08d29-46a9-43c6-946b-99961fa00a11.png)

The following functions are requested

[2021-10-27 18:24] woodser opened #142 "Add API functions to support trade chat [$400]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to support trade chats.

These API calls will feed the UI trade chat:

![image](https://user-images.githubusercontent.com/13068859/139133150-8b2e69ba-a72e-420b-94dc-4deb74f8a8da.png)

The following functions are requested as additions to [Haven

[2021-10-27 19:31] #135 closed, assigned to woodser

[2021-10-27 20:06] woodser opened #143 "Certify and tabulate completed trades"
This issue requests the ability for the arbitrator to certify a completed trade, thus allowing traders to verify and tabulate past trades to establish peer reputability.

When a trade is completed, both peers should request the arbitrator to sign a message which certifies the completed trade amount, payment method, and probably specific payment account.

Takers may use these certifications to tabu

[2021-10-27 20:16] woodser opened #144 "Add ability to revoke and check status of arbitrator keys"
Arbitrator signatures are used in Haveno to certify valid offers and [tabulate completed trades](https://github.com/haveno-dex/haveno/issues/143) to establish trader reputability.

An arbitrator may occasionally go offline or have their registration revoked.

In this case, peers must be able to continue verifying offers and completed trades certified by the arbitrator.

This issue requests the abi

[2021-10-28 15:07] woodser opened #145 "Handle offline arbitrator signer"
Currently, an offer is signed by an arbitrator who keeps a reserve tx so the maker can be punished if they later break protocol.

By default, the same arbitrator is used when the offer is taken.

However, the arbitrator may eventually go offline before an offer is taken. In that case, we would like for the offer to remain available to take, whereas currently the trade will fail.

This issue reques

[2021-10-28 15:08] #144 closed, assigned to nobody

[2021-10-29 12:40] woodser opened #147 "Add API function to receive notifications [$300]"
This issue requests [adding a new API function](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to receive notifications.

This API call will feed the UI notifications:

![image](https://user-images.githubusercontent.com/13068859/139435794-256a3161-b121-4b0f-b649-9cbcbf1cafbf.png)

The following function is requested as an addition to [H

[2021-10-31 11:28] uranuspucksaxophone opened #150 "Replace absolutely every reference to Bisq, to Haveno"
In the source code, there are still several references to bisq. It might be a good idea to remove all of those. Low priority issue.

[2021-10-31 11:34] erciccione commented on #132
#128 is merged but the buildbot still fails from time to time. I cannot see an obvious reason for these random failures. Note that Haveno seems to be building fine on Mac and Linux. Not sure about Windows.

[2021-10-31 11:36] erciccione commented on #150
Thanks @uranuspucksaxophone :) Some references might be good to have, but we do need to cleanup the source code. #35 keeps track of the update of the copyright notice in the header.

[2021-10-31 12:16] uranuspucksaxophone commented on #150
Thank you, I have opened PR #151   , please, keep in mind, I'm a beginner, so, if I break the entire project, please, try not to be angry.

[2021-10-31 12:46] #118 closed

[2021-10-31 12:50] woodser commented on #118
See instructions to [import Haveno into Eclipse](https://github.com/haveno-dex/haveno/blob/master/docs/import-haveno.md#importing-haveno-into-eclipse-ide).

Feedback welcome.

[2021-10-31 12:56] erciccione commented on #150
I think the PR does break Haveno, but no worries, nobody will get angry :)

i'm unscheduling this issue for now, since many files still need to be removed or heavily edit. Better remove all references later on.

[2021-10-31 14:48] HashedMantisShrimp commented on #137
Hi guys, I would like to take on this bounty on my spare time, I have never programmed in Java but have some minor experience with other languages and am quite familiar with the Linux CLI.
As a matter of fact, I have already forked the project and am working on setting it up on my computer.

Could someone assign this bounty to me? Also, what is an acceptable delivery time-frame for a P2 issue of t

[2021-10-31 15:02] HashedMantisShrimp commented on #137
I should also mention that I'm having problems getting past the **Deploy** instructions on installing.md, specifically with **make seednode**.

Is this the place I should go to in order to clear my doubts and request help - _Development discussions: Haveno Development (#haveno-dev:haveno.network) relayed on Libera (IRC) (#haveno-dev)_ ?

[2021-10-31 15:07] woodser commented on #137
Excellent, I have assigned the issue to you.

I can help implement (or at least review) the constructor of MoneroDaemonRpc.java in monero-java that launches the daemon process. It should be nearly identical to the constructor in MoneroWalletRpc.java, and will need a correspond test.

Would hope for a timeframe within the next month or two, as other API calls are being built.

[2021-10-31 15:25] HashedMantisShrimp commented on #137
That timeframe sounds definitely reasonable! If I managed to finish this fast enough I'll jump onto other API bounties.

As for my issue, something  went wrong when I was following this [step](https://github.com/HashedMantisShrimp/haveno/blob/master/docs/installing.md#5-deploy)

As for the errors I found, here are the "logs":
`User@User:~/Documents/Projects/Monero/Haveno-Projs/haveno$ make seednod

[2021-10-31 16:17] woodser commented on #137
@erciccione Something you can help with?

[2021-10-31 18:15] erciccione commented on #137
@HashedMantisShrimp what OS are you on? Looks like a local problem. Also from a quick check on that `127 error` [there could be an issue with your $PATH](https://stackoverflow.com/questions/36365752/make-error-127-when-running-trying-to-compile-code/36368057#36368057).

Make sure you have `screen` installed if you are trying `make deploy`, but if it doesn't work with `make seednode` i doubt will w

[2021-11-01 09:26] premek commented on #132
https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle#caching-dependencies

[2021-11-01 13:16] HashedMantisShrimp commented on #137
Thank you, I will look into it! I was under the impression that this was a Haveno specific problem, since it's make related shouldnt be too hard to fix.
Am using an Ubuntu 18.04 btw.

[2021-11-01 13:51] woodser commented on #137
The problem appears to be that the `./haveno-seednode` executable has not been built. This suggests make didn't complete successfully. Do you see any errors when you run `make`?

[2021-11-01 13:56] erciccione commented on #132
I didn't know `setup-java` had a caching mechanism built in. Nice catch!

[2021-11-01 14:26] HashedMantisShrimp commented on #137
@woodser, that's the same conclusion I came to and was about to edit my other comment. Yes I saw an error when I initially ran make but disregarded it, now I can't find the terminal window with the history. I'll start over so I can investigate the first error.

[2021-11-01 14:56] erciccione commented on #137
That seems to be related to the change of checksum (#127). We are looking into it.

[2021-11-01 15:06] HashedMantisShrimp commented on #137
Ah okay. I will wait for that to be resolved then. Or is it okay if I just run with the proposed change? I could edit the file locally and go with that.

[2021-11-01 15:18] woodser commented on #137
You can try manually reverting the checksum to `389d61b1b5a85eb2f23c582c3913ede49f80c9f2b553e4762382c836270e57e5`.

[2021-11-01 20:49] eum2o commented on #118
Thank you! This helps a lot.

I followed the `Importing Haveno into Eclipse IDE` steps and it basically worked fine (except some compilation problems, see "Compilation Problems" further below):
![image](https://user-images.githubusercontent.com/1593923/139735478-e88b92d7-dff4-4cd4-a112-5e7547825a48.png)

### Some minor issues
* The link on https://github.com/haveno-dex/haveno/blob/master/docs/READ

[2021-11-01 23:55] MasFlam commented on #139
I might try and take a stab at this.

1) the `isFiatCurrency` attribute would be `true` if the pair was `XMR/FIAT`, or vice-versa?
2) in which package would I find what's needed to obtain information for a `MarketPrice` message? I will eventually dig through the code and find it, but it'd be faster if someone who knows the codebase better could help.

[2021-11-02 01:02] HashedMantisShrimp commented on #137
That worked, thanks!

[2021-11-02 09:45] erciccione commented on #118
Nice catch. Fixing it right now (#153). The other problems you are pointing out come from the inteeliJ section, which is outdated. Maybe could be better to remove it entirely, but people using intelliJ could still find it useful, even if only partially.

[2021-11-02 17:14] woodser commented on #137
The new hash should work and the old hash will stop working after clearing your gradle cache with `rm -rf ~/.gradle` and building clean with `make clean && make`.

[2021-11-02 18:16] woodser commented on #118
Do the errors persist after right clicking the project > Gradle > Refresh Gradle Project?

[2021-11-04 09:20] erciccione commented on #132
The new checksum hash should work. If it doesn't, please try deleting the `~/.gradle` folder and try again.

[2021-11-04 09:20] #132 closed

[2021-11-04 09:27] premek commented on #132
Maybe just `~/.gradle/caches`

[2021-11-04 19:38] l0nelyc0w commented on #141
I can begin working on this issue.

[2021-11-04 20:50] woodser commented on #139
Right, it returns true if the pair is with a fiat currency. See CurrencyUtil.java to check if fiat currency.

I think [`PriceFeedService.getMarketPrice()`](https://github.com/haveno-dex/haveno/blob/4d80c2c6176c1d88c063208c0537618beb8d16c5/core/src/main/java/bisq/core/provider/price/PriceFeedService.java#L254) is a good starting place.

[2021-11-04 23:39] MasFlam commented on #139
Thanks, haven't had much time this week but I'll work on this on Saturday/Sunday.

Yeah I looked at that class just wasn't really sure about which currencies it holds prices of – the ones that have trading pairs or "all" currencies as some method names could imply... Which means I just have to analyze more code, nothing new :P.

[2021-11-05 02:11] KritR commented on #147
I’d be interested in working on this.

[2021-11-05 09:21] erciccione commented on #147
Thanks @KritR. I'm assigning the issue to you. Please keep us updated :)

[2021-11-06 07:42] eum2o commented on #118
This led to a `org.gradle.api.InvalidUserDataException: Checksum failed for com.github.JesusMcCloud:jtorctl:6465e0` which I was able to fix with `./gradlew --info --refresh-dependencies` and it seems that the compilation problems (junit, lombok, etc.) mentioned above are resolved. I assume that I had some Gradle caching issues which prevented a successful build in the first place. I should have ch

[2021-11-06 14:40] HashedMantisShrimp commented on #137
Actually, my build seems to work without the new hash - prior to this I had deleted my ~/.gradle files and ran make clean && make, there was no error so I ran make a second time, just to be sure:

mkdir -p .localnet
./scripts/xmr_btc_deps.sh
monero-bins-haveno-linux.tar.gz: OK
-> Monero binaries downloaded and verified
tar: Ignoring unknown extended header keyword 'LIBARCHIVE.xattr.security.selinu

[2021-11-06 15:58] HashedMantisShrimp commented on #137
@woodser, were you guys aware of these errors? I followed these [instructions](https://github.com/haveno-dex/haveno-ui-poc#run-tests) to run the existing tests and found an error when using the **docker command**:

[2021-11-06 15:40:19.256][1][info][main] [source/server/server.cc:815] exiting
Unable to convert YAML as JSON:

As well as an error when running **npm start**:

  Line 130:13:  Expected

[2021-11-09 09:36] erciccione commented on #132
Bisq's considerations: https://github.com/bisq-network/bisq/issues/5807#issuecomment-963641322

[2021-11-09 13:07] woodser commented on #118
Yeah there was a recent problem with jtorctl which requires refreshing dependencies, which `./gradlew --refresh-dependencies` fixes.

I've added a step to the Eclipse instructions to right click Eclipse > Gradle > Refresh Gradle Project. See https://github.com/haveno-dex/haveno/pull/156

`make` should generate the protobuf definitions. This step is documented in the instructions to install Haveno

[2021-11-09 13:41] woodser commented on #137
Regarding the jtorctl, `./gradlew build --refresh-dependencies` will cause the latest hash in the repo to be used instead of the old cached hash.

I'm not seeing this error when starting the envoy proxy. Is your local path correct when invoking this command: `docker run --rm -it -v ~/git/haveno-ui-poc/config/envoy.test.yaml:/envoy.test.yaml -p 8080:8080 -p 8081:8081 envoyproxy/envoy-dev:8a2143613d

[2021-11-09 17:35] woodser opened #157 "Fix dispute resolution summary notes"
When a dispute is resolved in the desktop application, traders receive summary notes in their arbitrator chat:

![image](https://user-images.githubusercontent.com/13068859/140975309-c612d6d9-a4c2-4e73-bf07-f593afd525b8.png)

This issue requests fixing the summary notes to display the information correctly.

[2021-11-10 22:26] woodser commented on #137
FYI monero-java 0.5.8 is released which supports starting an internal monerod process as [a constructor of MoneroDaemonRpc.java](https://github.com/monero-ecosystem/monero-java/blob/a34641a401241d0d989c62721ec134372398458a/src/main/java/monero/daemon/MoneroDaemonRpc.java#L126) to support this issue.

[2021-11-11 14:03] #124 closed

[2021-11-11 21:21] #157 closed

[2021-11-12 00:03] Randall-Coding commented on #137
I'm running into the same error on my machine.

Here's what I'm doing:
`$ cd haveno-ui-poc`

`$ docker run --rm --add-host host.docker.internal:host-gateway -it -v ~/git/haveno-ui-poc/config/envoy.yaml:/envoy.yaml -p 8080:8080 envoyproxy/envoy-dev:8a2143613d43d17d1eb35a24b4a4a4c432215606 -c /envoy.yaml`

I found a couple example of people running into the same error, but at least one looks like it

[2021-11-12 00:27] woodser commented on #137
This command assumes the haveno-ui-poc project is located at ~/git/haveno-ui-poc. You should modify to use your path if it's different.

I've clarified the instructions in #29 to `cd haveno-ui-poc` then `docker run --rm --add-host host.docker.internal:host-gateway -it -v ./config/envoy.yaml:/envoy.yaml -p 8080:8080 envoyproxy/envoy-dev:8a2143613d43d17d1eb35a24b4a4a4c432215606 -c /envoy.yaml`

[2021-11-12 00:36] Randall-Coding commented on #137
Thanks, I'd tried that previous but then I received this error

So I guess it needs to be an absolute path.  Maybe we could do something like this

 `docker run --rm --add-host host.docker.internal:host-gateway -it -v $HAVENO_UI/config/envoy.yaml:/envoy.yaml -p 8080:8080 envoyproxy/envoy-dev:8a2143613d43d17d1eb35a24b4a4a4c432215606 -c /envoy.yaml`

Where $HAVENO_UI is the absolute path to the hava

[2021-11-12 12:13] woodser commented on #137
I [updated the instructions](https://github.com/haveno-dex/haveno-ui-poc/blob/f888d63690a501a52ffded1efe0f0e01c3c3770e/README.md) so it's clear that the absolute path should be modified for your system.

[2021-11-12 21:10] Randall-Coding commented on #137
Thanks.  I think what makes it so confusing is that docker doesn't give a file not found error even if that path doesn't exist locally.  So I just assumed that path existed somewhere, whether it was local or remotely.

[2021-11-13 13:29] woodser opened #161 "Add API functions to open and resolve disputes [$500]"
This issue requests [adding new API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to handle arbitration.

The following functions are requested as additions to [HavenoDaemon.ts](https://github.com/haveno-dex/haveno-ui-poc/blob/master/src/HavenoDaemon.ts) (feedback welcome).

| API Function | Return | Description
| --- | ---

[2021-11-13 14:03] HashedMantisShrimp commented on #137
I had the same findings as @Randall-Coding , furthermore I checked quite a few times and this is the correct file path for me (~/git/haveno-ui-poc), however I should stress that that folder only contains config/envoy files and nothing else, not sure if that's expected?

I'll check out the new instructions when I have time.

[2021-11-13 15:33] woodser commented on #137
The haveno-ui-poc project should contain all project files after running `git clone https://github.com/haveno-dex/haveno-ui-poc`, so missing folders or files is not expected.

[2021-11-13 20:41] woodser opened #162 "Fix error when arbitrator gives all payout to one trader"
In the desktop application, the arbitrator may give maximum payout to one trader and 0 payout to the other trader:

![image](https://user-images.githubusercontent.com/13068859/141658107-109af5b3-5911-4e8a-91e8-1a4024c3dadd.png)

Currently, this results in the error: -20: destination amount is zero, with the following stacktrace.

<details>
  <summary>Stacktrace</summary>

[code]
</details>

The pr

[2021-11-13 23:40] HashedMantisShrimp commented on #137
@woodser, AWESOME. It's finally working. I also see where my confusion happened, the docker commands seems to create a folder in the path specified if there isn't one already. Since I didn't "willingly" create the folder on that path, I just assumed it was meant to be this way.

Fetched the newest code from upstream and started using my own project path and voila! Haveno UI was running on localhos

[2021-11-14 00:17] woodser commented on #137
Did you start monero-wallet-rpc on port 38084 per step 4 of the [instructions](https://github.com/haveno-dex/haveno-ui-poc#run-tests]? It can't connect.

[2021-11-14 15:15] HashedMantisShrimp commented on #137
Yes it appears I did, noob mistake.
I am following the instructions now and am still encountering some minor problems connecting to the wallet uri, probably need to change the port config on the test file. Luckily I have the rest of the day free, will leave a comment if I can't figure it out.

[2021-11-14 21:56] woodser commented on #137
Yes this is the port to manually copy to the HavenoDaemon.test.ts config. It changes each time you launch Alice.

`aliceDaemonUrl` should remain http://localhost:8080.

5555 is the Haveno daemon URL which envoy proxies to/from port 8080 for Alice. The UI POC just shows Alice's daemon version. The tests use both Alice and Bob.

[2021-11-15 15:27] Randall-Coding commented on #137
I'm running into the same issue and seeing `Http response at 400 or 500 level`

When I look up this error online I see some people get the error when they don't have envoy running. https://github.com/grpc/grpc-web/issues/769

I believe my envoy is running correctly.  When I start it here is the last output it gives me before idling

Here are the steps I followed prior to running `npm test`
make bi

[2021-11-15 15:42] woodser commented on #137
It looks to me like monero-wallet-rpc's wallet is synced against a different blockchain than the daemon is serving.

You could try deleting the funding wallet monero-wallet-rpc is using. The tests will automatically recreate and fund it.

[2021-11-15 15:47] Randall-Coding commented on #137
Where is that wallet file located that I want to delete?

[2021-11-15 16:18] woodser commented on #137
The default command from the instructions will create the wallet in haveno/.localnet.

The tests automatically create a wallet named "test_funding_wallet" unless a wallet is already funded on port 38084.

[2021-11-15 16:38] Randall-Coding commented on #137
Hmmm. Well the only wallets I have funded right now are Bob and Alice I believe and I don't think they are on port 38084.

Also I'm not seeing anything in the haveno/.localnet that looks like a wallet (correct me if I'm wrong).  Here is the contents of that folder
`bitcoin-0.21.1-x86_64-linux-gnu.tar.gz  bitcoin-cli  bitcoind  monero-bins-haveno-linux.tar.gz  monerod  monero-wallet-rpc  monero-wal

[2021-11-15 16:45] woodser commented on #137
Good. The funding wallet is only created in haveno/.localnet when you run the tests.

You are still seeing the `Http response at 400 or 500 level` errors without the previous errors in monero-wallet-rpc console?

[2021-11-15 16:59] Randall-Coding commented on #137
Yep I'm still seeing `Http response at 400 or 500 level`

The errors were never in the monero-wallet-rpc console, they are only in the log file.  Also they are generated even when monero-wallet-rpc command isn't running, so they must be being logged by a different process.

I may have fubared something along the way here.  I think I'll just scrap everything and clone the repo again.

[2021-11-15 19:19] Tcobli commented on #142
Hi, I'm going to be working on this issue as a starting point for gRPC streaming

[2021-11-15 21:13] HashedMantisShrimp commented on #137
@woodser @Randall-Coding I think I have nailed down the issue. Something is definitely wrong with the docker/envoy instance.

I say this because **npm test** returns the same errors (in addition to another) with **or without docker** running and also because of the findings Randall reported above.
I checked and inspected that every single monero instance (wallet or daemon) are running or connectin

[2021-11-15 22:07] MasFlam commented on #139
I think I underestimated how hard this task is – I've been trying to understand `PriceFeedService`, `PriceProvider` and all the convoluted semantics around them but to no avail. I don't think I'll be completing this anytime soon given how time-consuming it is, so I'll unassign myself for now. I'm gonna try and find some other issue to work on though, so expect hearing more from me :)

[2021-11-15 22:22] woodser commented on #137
Docker is being used to run envoy as a proxy between the browser's http1 and grpc's htttp2. It's necessary for the browser to use the grpc api.

[2021-11-16 03:08] Randall-Coding commented on #137
After building again I get this new error on the monero-wallet-rpc console after running `npm test` (last time I get no messages on that console).

However I also received the same previous error on the console of the `npm test` command itself.

I have no problem spinning up the UI with `npm start` (though it did take a minute to work)

@HashedMantisShrimp you said the issue seems to be the docker

[2021-11-16 08:13] HashedMantisShrimp commented on #137
@Randall-Coding I guess I'll have to drop everything and **make** again, damn. Will check back in >8hrs and hopefully provide some new insights

[2021-11-16 11:23] woodser commented on #137
Sounds like you're very close to it working, especially if the UI is running on port 3000.

For the tests, confirming again that you're running the correct envoy config for the tests and not the UI.

Which tests pass and which tests fail? "Can get the version" should pass since we're seeing it work for the UI.

[2021-11-16 13:01] erciccione commented on #139
@MasFlam feel free to reach out for clarifications :)

[2021-11-16 14:31] Randall-Coding commented on #137
Sorry I forgot to mention, I'm getting ten out of ten failure giving me the `Http response at 400 or 500 level...` error.

Here is the stacktrace of the first one, but they all appear to be identical

[2021-11-16 14:35] muscleman commented on #136
hi,

I might like to do this bounty in my spare time. can you add me? it is still 1500 right?

[2021-11-16 14:39] Randall-Coding commented on #137
And now that I look at it.  The UI isn't actually showing the version.

![Screenshot from 2021-11-16 08-38-05](https://user-images.githubusercontent.com/39175191/142005625-8d9ea66a-ecf0-4519-be18-609e1e2f12fa.png)

[2021-11-16 15:33] Randall-Coding commented on #137
I just turned off my **"Deny Incoming Connections"** feature on my firewall.  Not an ideal solution, but I am getting mostly passed tests.  3/10 left that are failing

Tests failing are:

[2021-11-16 15:55] erciccione commented on #136
Hi @muscleman and thanks! Yes, the amount is still $1500. This work will be quite extensive, so you are welcome to join our chat rooms for coordination and support. I'm happy to assign the issue to you, but please consider that this is a very high priority issue for us and we would like to have it resolved as soon as possible :)

[2021-11-16 16:13] woodser commented on #137
Perhaps it would help to delete Alice and Bob's wallets (and their backup) and the funding wallet so they're recreated.

[2021-11-16 16:47] muscleman commented on #136
uff, nope. lemme sort this irc thing out

[2021-11-16 17:45] Randall-Coding commented on #137
I deleted all the wallet files but still getting the `wallet is locked` error.  Appears to be Alice and Bob's based on their daemon's output.

I'm going to switch to another project today and be back tomorrow.

[2021-11-16 18:52] woodser commented on #137
For reference the `wallet is locked` error occurs here in the code: https://github.com/haveno-dex/haveno/blob/4000fdc1e581b5608ae1d68f783000559f514913/core/src/main/java/bisq/core/api/CoreWalletsService.java#L464

[2021-11-16 21:10] HashedMantisShrimp commented on #137
Wait so, @Randall-Coding you are still getting the same errors (HTTP level 400 response) despite having started everything from scratch? So basically we were in the same place then.
For the record, I could easily get the UI running, but I couldn't get the Haveno UI version to display (it's exactly like what you posted above), AFAIK the UI version **should show up**

And then you disabled **deny in

[2021-11-17 10:14] woodser commented on #137
The daemon version should display 1.6.3 when running.

Please pull the latest commits to haveno and haveno-ui-poc which hardcodes Alice and Bob's wallet ports so the port no longer needs manually copied to the tests.

If possible, please add trace logging to the tests to see exactly what call is failing (logging should be added to the tests anyway).

[2021-11-17 14:26] Randall-Coding commented on #137
Here is the stacktrace

[2021-11-17 14:28] Randall-Coding commented on #137
@HashedMantisShrimp  That was the change that did it for me.  There must be more than one way to produce the the 400/500 error, unfortunately.

[2021-11-17 22:38] premek commented on #139
What do you guys think about
- instead of returning isFiatCurrency and inverting the price, return the "correct" (currently inverted price) directly from the API?
- the current price node does not provide the 24h change and 24h volume values. Should the api return dummy values for now?

[2021-11-17 23:40] woodser commented on #139
Sounds good to me.

I'm not seeing them supported in the desktop application either. Let's keep them out for now and we can add them later when we support them.

I've updated issue description.

[2021-11-18 10:49] premek commented on #139
Please assign this issue to me

On Thu, 18 Nov 2021, 00:40 woodser, ***@***.***> wrote:

[2021-11-18 18:04] #145 closed

[2021-11-19 10:13] erciccione commented on #20
#12  is merged. @agg505 please provide us with an xmr address :)

[2021-11-19 22:41] agg505 commented on #20
@erciccione I confirm my wallet address starts with '4594' and ends with 'wLCd

[2021-11-20 16:44] erciccione commented on #20
2 XMR Sent. @agg505 please confirm you have received the coins.

[2021-11-20 22:16] woodser opened #171 "Trading with BTC accounts not working"
BTC does not appear as an option to trade with in the desktop application.

[2021-11-20 23:06] agg505 commented on #20
@erciccione I have received the XMRs, thank you!

[2021-11-21 00:41] #139 closed

[2021-11-21 01:50] LumnitzF commented on #138
I would like to work on this issue, could you please assign it to me?

I've got two open questions:

1. The description states, that `MoneroConnectionManager` provides a direct mapping to the API calls. However, I could not find any method matching `havenod.checkMoneroConnection(connection)`. Should this still be implemented?
2. `havenod.getMoneroConnections()` states, that the returned connection

[2021-11-21 08:15] erciccione commented on #20
Thank you. Hopefully we will see you around again :)

[2021-11-21 08:15] #20 closed

[2021-11-21 10:12] woodser commented on #138
Thanks for your help.

The mapping from `havenod.checkMoneroConnection(connection)` is to `MoneroConnectionManager.checkConnection()`. Same for the other connection api calls which have the name 'Monero' in them (maybe we will later tweak the api function names).

I don't see a use case to return login credentials from the api, so they should never be included for now.

[2021-11-21 20:00] Tcobli commented on #142
How should the ChatMessages in ChatMessage[] be stored internally? With timestamps and in plaintext?

[2021-11-21 20:10] woodser commented on #142
It should use the existing [ChatMessage](https://github.com/haveno-dex/haveno/blob/f27e3e3d1aff32fc77bbbda80e07ec9536d48ccb/proto/src/main/proto/pb.proto#L526) type and backend implementation, so there should be no change to its internal storage.

[2021-11-22 13:02] #171 closed

[2021-11-22 19:29] woodser commented on #162
Closed by #177

[2021-11-22 19:29] #162 closed

[2021-11-23 01:09] HashedMantisShrimp commented on #137
I should probably have taken a look at the webpage console, it does have a "stack-trace" and it also has the same http error as the tests. Meaning that they're likely being caused by the same thing.

I spent my whole weekend playing around with grpc-web and protobuf. I'm sure that neither of those are the problem because I managed to run their example project, which depends on me having a working

[2021-11-23 06:41] woodser commented on #137
Why are you not running the arbitrator process? It's needed.

[2021-11-23 22:13] Randall-Coding commented on #140
I feel like I could tackle this.  Can I be assigned?

[2021-11-24 04:23] Randall-Coding commented on #137
I'm back to working on making tests pass.  I made progress by deleting all the app data in my ~/.local/shared/ folder (last time I just deleted the wallet file) and everything in haveno/ folder then cloning and building again.  No longer seeing `wallet is locked` error, but...

[2021-11-24 04:25] Randall-Coding commented on #137
Now I'm seeing errors relating to values being undefined in multiple tests.

TypeError: Cannot read property 'serializeBinary' of undefined (1 test)
TypeError: Cannot read property 'setCurrencyCode' of undefined (6 tests)

[2021-11-24 10:54] erciccione commented on #140
Sure :)

[2021-11-25 13:23] woodser commented on #137
Guessing that the grpc client needs regenerated from Haveno's updated protobuf definition.

It should happen automatically on `npm install` or `npm test`.

Note the haveno and haveno-ui-poc projects need to be in the same directory for the ui project to read the protobuf definition in the haveno project.

[2021-11-26 18:28] Randall-Coding commented on #137
I've got those boxes checked off, it's in the same directory and I ran npm install (also ran the bin script on its own a few times).  Let me give you some more info on what I'm seeing, I will take as an example one of the tests yielding an error on setCurrencyCode() of undefined.

The error is occurring because `GetOffersRequest().setDirection(direction)` is yielding undefined, which is what `setC

[2021-11-26 19:38] Randall-Coding commented on #140
Would you recommend using the OpenOfferManager to get the open offers?  I notice it isn't being used anywhere outside of testing files.

[2021-11-26 19:51] woodser commented on #140
CoreOffersService?

[2021-11-26 19:56] Randall-Coding commented on #140
Oh great it is used there.  I must have been grep-ing through the code wrong.

[2021-11-27 14:57] woodser commented on #137
My grpc_pb.d.ts looks the same. Have you pulled the latest commits from both upstream repositories? There have been changes to the protobuf definition.

If still stuck I could send you my grpc client code to test.

Have you been able to run all tests without any changes, or could the problem be caused by changes you've made?

[2021-11-27 16:15] Randall-Coding commented on #137
Just reconfirmed I'm on the most recent changes, and on my last pull of master I basically made everything over from scratch.

Here are all the steps I'm taking.

`make`
`make bitcoind` (and make btc-blocks)
`make monero-shared`
`make seednode`
`make arbitrator-desktop` (set up accounts with ctrl n and ctrl d)
`make alice-daemon`
`make bob-daemon`
start test envoy `docker run --rm --add-host host.

[2021-11-27 16:20] Randall-Coding commented on #137
Here is the full errors output

[2021-11-27 16:21] Randall-Coding commented on #137
Unfortunately this is looking very idiosyncratic tome since no one else has this issue, so I'm probably going to have to really go on a mission to figure this out.

[2021-11-28 17:19] erciccione commented on #138
PR: https://github.com/haveno-dex/haveno/pull/179

[2021-11-29 22:46] premek commented on #139
reward received, thanks a lot

[2021-11-30 03:54] Tcobli commented on #142
Where is traderId generated and stored?

[2021-11-30 14:14] woodser commented on #142
Looking at where ChatMessage is [constructed](https://github.com/haveno-dex/haveno/blob/abd6b365893ea8372838fe93a3b154fedc6e567a/core/src/main/java/bisq/core/support/dispute/DisputeManager.java#L461), the trader id is a hash code of their pub key ring, i.e. `pubKeyRing.hashCode()`.

[2021-11-30 23:53] Randall-Coding commented on #140
I know the instructions call for BigInt, and Java does supports BigInteger, but grpc turns it's int64 to type of long as shown in this table https://developers.google.com/protocol-buffers/docs/proto3#scalar.

I don't see a way to transfer as BigInt or BigInteger with grpc (correct me if I'm wrong I'm new to this protocol).  It might be best to use long[] unless we really need to handle values larg

[2021-12-01 00:11] Randall-Coding commented on #140
I see that there is a constructor for BigInteger (Java) and BigInt (Javascript) based on a string value.  So if we do need to handle numbers that large, we could maybe construct our proto class like so:

[code]

This is the constructor I see in Java for BigInteger
`public BigInteger(String val,int radix)` where radix is the base number.

And for Javascript it is
`BigInt(value);` where value can be

[2021-12-01 00:29] woodser commented on #140
The type should be defined like: `int64 my_type = 2 [jstype = JS_STRING];`.

Then it will be received in typescript as a string, which `BigInt` can be constructed from.

[2021-12-01 00:44] Randall-Coding commented on #140
Ok thanks

[2021-12-03 19:21] woodser commented on #141
@l0nelyc0w Checking in. How's it going?

[2021-12-04 21:27] Randall-Coding commented on #137
**SOLVED**:  I narrowed down the issue to the protobuf-compiler version.  I was on libprotoc 3.6.1 but woodser was on libprotoc 3.17.3.  This was leading to the ts files not being generated correctly.

I had to upgrade my OS version to upgrade my protobuf-compiler version, but it worked.  Thanks to @woodser, couldn't have done it without your help.  Now I'll get out of the way on this PR.

[2021-12-05 13:37] woodser opened #184 "Download XMR and BTC dependencies as part of Gradle build"
This issue requests downloading XMR and BTC dependencies as part of the Gradle build instead of `make nodes` which runs `./scripts/xmr_btc_deps.sh`.

[2021-12-05 21:01] woodser commented on #137
This issue is currently unassigned with HashedMantisShrimp being pulled into other things.

@Randall-Coding Please let me know if you'd like this issue assigned to you.

[2021-12-05 22:13] Randall-Coding commented on #137
Sure that sounds great, please do.  I should be finishing up my other task very soon also (working the bugs out of my tests right now).

[2021-12-07 13:49] erciccione opened #186 "Investigate possibility of self-hosting jtorctl"
We recently had a problem with jtorctl (https://github.com/haveno-dex/haveno/issues/132), or better, we have a problem with the correct hash not being relayed properly, which causes the buildbot to randomly fail. This will be solved only when cloudflare's cache will start to relay the same hash everywhere. It could take some time.

jtorctl is currently deprecated and could make sense to self-host

[2021-12-07 15:00] uranuspucksaxophone commented on #186
It makes sense, it's a great idea in my opinion.

[2021-12-09 15:36] woodser opened #188 "Add API functions to register arbitrator and mediator keys [$200]"
This issue requests [adding API functions](https://github.com/haveno-dex/haveno/blob/master/docs/developer-guide.md#adding-new-api-functions-and-tests) to register arbitrator and mediator keys to the Haveno daemon, allowing arbitrators to be initialized without using the desktop application. This would be useful for automated tests and docker bundling.

[2021-12-15 11:30] erciccione opened #192 "Rely on our own repositories instead of bisq's for some gradle dependencies"
Currently, some of our dependencies are on repositories hosted on Bisq's github. Would be better to move these dependencies to repositories under our control (inside github.com/haveno-dex).

- Netlayer (https://github.com/bisq-network/netlayer/commits/externaltor), which depends on
- Tor binary (https://github.com/bisq-network/tor-binary)
- Bitcoinj (https://github.com/bisq-network/bitcoinj/)
- js

[2021-12-16 18:16] erciccione commented on #69
The Farcaster project released an update: https://old.reddit.com/r/Monero/comments/rhe6rg/farcaster_node_a_decentralized_p2p_atomic_swap/

The exciting thing is that Farcaster is meant to be a multi chain tool for atomic swaps with Monero. That could be very interesting for us.

[2021-12-16 19:07] erciccione commented on #150
This is resolved by #193

[2021-12-16 19:07] #150 closed

[2021-12-16 19:08] erciccione commented on #35
This is resolved by #193

[2021-12-16 19:08] #35 closed

[2021-12-19 10:07] selsta commented on #103
As far as I know https://github.com/monero-project/monero/pull/8113 fixes Wagner/Drijvers attack. @UkoeHB could you confirm?

[2021-12-19 21:59] UkoeHB commented on #103
Yes

[2021-12-22 09:23] erciccione commented on #147
Hey @KritR. Could you share an update on how things are going? :)

[2021-12-22 09:24] erciccione commented on #142
Hey @Tcobli. Could you share an update on how things are going? :)

[2021-12-22 09:28] erciccione commented on #136
Hey @muscleman. How are things going? Any update to share? :)

[2021-12-22 23:27] l0nelyc0w commented on #141
@woodser I managed to get getXmrTxs working with the tests after the problem I had with null values, I followed ProcessModel.java and it helped to get the reply back. I have a question regarding createXmrTx(destinations) though, destinations isn't the only parameter for createXmrTx() right? It should also have the desired amount and the rest of fields that are mandatory to create a tx (as transfer

[2021-12-22 23:35] l0nelyc0w commented on #123
Most of the migration is done automatically through the updated versions of the 3rd party dependencies (jtorctl etc) that have been updated to work with v3 onions.

I believe some minor modifications will be needed on haveno's side like checking for v3 onion string formatting instead of v2. I will check out behavior over the onion seednode I hosted just to be sure.

Bounty should probably be remov

[2021-12-23 03:16] woodser commented on #141
@l0nelyc0w The amounts are part of the destinations. The only other required field is the account index which is always 0 for Haveno's wallet, so it doesn't need to be provided.

Yes, relayTxXmr() should take the tx metadata as an argument (I fixed the documentation).

[2021-12-23 11:27] l0nelyc0w commented on #141
OK account index was the actual field of interest thank you for clarifying.

[2021-12-26 13:27] erciccione commented on #141
PR: #199

[2021-12-27 18:52] woodser opened #200 "Change network versions to avoid connecting to Bisq network"
This issue requests changing the network version to avoid accidentally connecting to the Bisq network: https://github.com/haveno-dex/haveno/blob/master/common/src/main/java/bisq/common/app/Version.java

A different algorithm/concept is recommended to define the p2p network version to not interfere with potential future changes in Bisq.

[2021-12-27 19:05] qophse commented on #161
Hi, I'd like to take up this issue pending https://github.com/haveno-dex/haveno/issues/142

[2021-12-27 20:00] woodser commented on #161
Great. :) I've assigned it to you.

[2021-12-29 17:02] duriancrepe commented on #188
Hi, I'd like to try to implement this.

[2021-12-29 18:16] erciccione commented on #188
Thanks @duriancrepe. Please keep us updated :)

[2021-12-31 11:00] erciccione commented on #123
Thanks for the update @l0nelyc0w. We decided to keep the bounty but to half it, so it's now $200 for the PR that will make sure only Tor v3 is used and v2 is not used any more.

[2022-01-01 02:17] duriancrepe commented on #188
I've gotten the builds to work and can debug a development instance.  Spent some time studying the project and was able to add a new Grpc service, then realized the GrpcDisputeAgentsService class already implements registration for the mediator. Currently working on adding the registration for arbitrator using the same service as it appears that is the intended abstraction layer from the bisq proj

[2022-01-02 12:09] erciccione opened #203 "Get rid of the 10-blocks lock in Monero"
The 10-blocks lock is a security mechanism of Monero. When a wallet receives some outputs, those outputs cannot be spent before 10 blocks have been confirmed by the Monero network, which takes ~20 minutes. This to avoid chain reorganizations invalidating the transactions.

As we said, outputs cannot be spent before 10 blocks has passed, which result in people having to wait ~20 minutes before bein

[2022-01-04 00:14] duriancrepe commented on #188
After further investigation I realized there isn't a need to change any code in the haveno project, the existing GrpcDisputeAgentsService class implements both mediator and refund agent rpc calls which is what the original setup steps for the project calls for. The arbitrator does not actually use the arbitration agent type yet, and I checked the current bisq implementation and that seems to be th

[2022-01-04 17:34] duriancrepe commented on #136
Hi I can work on this.

[2022-01-04 19:32] erciccione commented on #141
Reward sent. @l0nelyc0w please confirm you received it :)

[2022-01-05 05:05] qophse commented on #142
Sorry if this is simple question, I'm new to typeScript and gRPC and wanted to check my understanding for this issue.

It seems to me that we need to add chat capability to the [TradeManager](https://github.com/haveno-dex/haveno/blob/ce538c5ca66f49d78f741c6cc03257eeacd21ced/core/src/main/java/bisq/core/trade/TradeManager.java), similar to what was posted [by woodser above](https://github.com/haven

[2022-01-05 22:24] Randall-Coding commented on #140
Removing `[jstype = JS_STRING]` on grpc.proto because that isn't compatible with double.

[2022-01-07 11:14] erciccione commented on #19
Resolved with #207

[2022-01-07 11:15] erciccione commented on #141
Closing this as resolved.

[2022-01-07 11:15] #141 closed

[2022-01-07 11:47] erciccione commented on #19
Reward sent to @premek.

[2022-01-07 11:48] #19 closed

[2022-01-07 11:54] premek commented on #19
received, thanks

[2022-01-08 13:21] #188 closed

[2022-01-08 16:08] LumnitzF commented on #147
I would like to work on this feature.
Open questions:

1. What fields should the `Notification` provide?
2. Should multiple listeners be supported, or only one per daemon?
2. Should there also exist the possibility to remove a message listener again?

[2022-01-08 16:21] erciccione commented on #147
Of course, assigning it to you. Thanks @LumnitzF! :)

[2022-01-09 17:34] duriancrepe commented on #188
Recieved bounty, thank you!

[2022-01-09 17:38] duriancrepe commented on #136
I've implemented the API stubs and test in haveno-ui-poc. Next steps is to zip / unzip the user's persisted haveno storage folders, and implement the password storage.

[2022-01-09 18:00] erciccione commented on #147
Core: #209
UI: https://github.com/haveno-dex/haveno-ui-poc/pull/62

[2022-01-10 01:20] l0nelyc0w commented on #141
I confirm I got the result @erciccione thank you :)

[2022-01-12 05:00] duriancrepe commented on #136
The zip and unzip of users persisted storage is completed along with allowing user to lock / unlock their key ring (indicating account open / close state) with a password.

There is still quite a bit of work left in making sure the daemon and desktop app can start up in non-open account state, flushing the persistence properly prior to a backup, as well as reloading the application state after a r

[2022-01-12 14:04] woodser commented on #136
We do want to use the same password to encrypt all the wallet files and possibly also to authenticate requests to the wallet servers.

[2022-01-13 12:57] #147 closed

[2022-01-13 15:35] woodser commented on #142
Sorry, I missed this.

We do need to add the grpc calls to the Trades service proto definition and add the corresponding methods down to CoreTradesService.

I'm thinking for `CoreTradesService.getChatMessages(String tradeId)`, we can use `trade.getChatMessages()`.

For `CoreTradesService.sendChatMessage(String tradeId, String message)`, we can use `TraderChatManager.sendChatMessage(ChatMessage mes

[2022-01-13 16:28] LumnitzF commented on #147
@erciccione / @woodser Could you please send the bounty to:

Thanks in advance :)

[2022-01-13 17:44] Randall-Coding opened #210 "make test errors if OS is using language other than English"
make tests won't pass if OS is using a language other than English. I have mine set to Spanish right now.

Error:

Test:

It appears the problem is with checking for the output "days" if the language is something different (in this case "dias").

To reproduce:
Set OS to a language other than English and do `make clean && make` in haveno/ folder

[2022-01-14 15:52] woodser commented on #147
Thank you!

[2022-01-14 23:25] premek commented on #210
Should be fixed by #212

[2022-01-15 20:50] woodser commented on #142
@qophse FYI I opened a PR to support notification types: https://github.com/haveno-dex/haveno/pull/213

[2022-01-16 16:14] woodser opened #215 "Support setting daemon login credentials in monero-wallet-rpc `set_daemon`"
This issue requests support to set daemon login credentials in monero-wallet-rpc's [`set_daemon`](https://github.com/monero-project/monero/blob/4f08d52dfacb62469b44c1ab68a37852011c8e3b/src/wallet/wallet_rpc_server.cpp#L4357) rpc call.

See https://github.com/monero-project/monero/issues/8143

[2022-01-17 16:44] qophse commented on #142
Update on status, I've had the back-end implemented [here](https://github.com/qophse/haveno/tree/issue_142) and made some changes for notification types, but running into problems on rpc connection when testing the front-end. Once I get that resolved and everything verified should be able submit a PR

[2022-01-19 18:29] erciccione commented on #215
Our testing binaries support it: https://github.com/haveno-dex/monero/releases/tag/testing3

[2022-01-19 20:11] premek commented on #215
would you mind summarizing what are the credentials for? Where are their values taken from?
Are they used by monero-wallet-rpc to authenticate when connecting to the daemon?

[2022-01-19 20:16] woodser commented on #215
The credentials are used by monero-wallet-rpc to connect to a Monero daemon to support wallet operations. They're taken from whichever Monero daemon the user connects to (local or remote).

[2022-01-20 10:02] erciccione commented on #210
Could you confirm this is fixed?

[2022-01-20 10:21] erciccione opened #224 "Upgrade Gradle version to 7.3.3 [0.75 XMR]"
Currently we are using `6.6.1` would be good to upgrade to `7.3.3`.

#223 needs to be merged first.

Upgrading to > 7 requires some breaking changes. See Bisq's commits:

- [Upgrade to 7.3](https://github.com/bisq-network/bisq/commit/6a3d2642da86e6b9a9225719bdadd39fbe1f8908)
- [Upgrade Gradle wrapper to 7.3.3](https://github.com/bisq-network/bisq/pull/5936/commits/064c7590a8defd7b95eb2ed4007546e16

[2022-01-25 20:09] RunnyBabbit opened #229 "Adding Gold & Silver as Currency Options"
High-value, low difficulty feature request for adding gold, silver & [Goldbacks](https://m.youtube.com/watch?v=TeFXrh6DEMY)  as currency options within Haveno

Adding this functionality would be huge for XMR adoption, liquidity & utility — particularly to the 'Free Staters' in New Hampshire (the largest Monero & hard money parallel economy in the world), and create new private, fungible, sound-mon

[2022-01-26 09:27] erciccione commented on #186
Now that the issue has been fixed (https://github.com/haveno-dex/haveno/pull/214), we can close this issue, as it's not a problem anymore. In the future we might consider self host dependencies in general, not only jtorctl, but that will have a dedicated issue for that.

[2022-01-26 09:27] #186 closed

[2022-01-26 09:33] erciccione commented on #210
I'm assuming #212 fixed the problem. Please reopen if that's not the case.

[2022-01-26 09:33] #210 closed

[2022-01-26 09:36] erciccione commented on #69
Unscheduling this until one of the 2 projects is stable enough for production use.

[2022-01-28 22:01] #138 closed

[2022-01-29 15:03] erciccione commented on #138
@LumnitzF same address from last time is ok?

[2022-01-29 15:23] LumnitzF commented on #138
Yes. Thank you in advance Am 29.01.2022 16:03 schrieb erciccione ***@***.***>:
@LumnitzF same address from last time is ok?

—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-01-30 09:00] erciccione commented on #138
@LumnitzF reward sent. Please confirm you've received it :)

[2022-01-30 11:57] LumnitzF commented on #138
Payment received :)

[2022-01-30 15:04] woodser commented on #138
Thank you @LumnitzF! Much appreciated figuring out the encryption and persistence.

[2022-02-02 12:42] woodser opened #234 "Resolve EOF errors on daemon shutdown"
This issue requests resolving the errors that appear when shutting down Haveno daemons.

For example:

[code]

[2022-02-02 13:13] woodser commented on #161
How's it going @qophse?

[2022-02-02 13:51] woodser opened #235 "Arbitrator trade times out causing multisig wallet to disappear"
A bug was introduced (probably [here](https://github.com/haveno-dex/haveno/commit/7c9c35b1b8d810c783a6f44b0ff91b330266dc86)) which causes the arbitrator's trade to time out and be removed after initialization, even though initialization was successful.

This issue requests fixing the arbitrator trade to not timeout.

[2022-02-06 16:37] #184 closed

[2022-02-07 13:14] #59 closed

[2022-02-08 12:44] woodser opened #239 "Don't overwrite monerod and monero-wallet-rpc if correct zip already downloaded"
This issue requests not overwriting the monerod and monero-wallet-rpc binaries in .localnet if the correct zip has already been downloaded and the binaries already exist.

Otherwise, developers must manually overwrite these binaries after every build in order to run custom, local binaries.

[2022-02-08 14:12] woodser commented on #142
I've updated the issue description to only implement `getChatMessages()`, `sendChatMessage()`, and use existing APIs to notify when messages are received.

[2022-02-09 15:17] woodser commented on #136
Closed with https://github.com/haveno-dex/haveno/pull/216 and https://github.com/haveno-dex/haveno-ui-poc/pull/64.

Thanks @duriancrepe!!

[2022-02-09 15:17] #136 closed

[2022-02-09 20:35] duriancrepe commented on #161
Hi I'd like to work on this.

[2022-02-10 10:27] erciccione commented on #161
Assigning the issue to you @duriancrepe :)

[2022-02-10 18:10] duriancrepe commented on #136
Thank you! Reward has been received.

[2022-02-10 21:08] woodser opened #241 "Always represent price as cost per XMR"
Price is currently is represented as cost per XMR for fiat currencies and XMR / e.g. ETH for cryptocurrencies in the offer model and throughout the application.

Instead price should always mean cost per XMR.

This issue requests consistently applying price throughout the application to mean cost per XMR.

The market prices and depth APIs currently [invert the price](https://github.com/haveno-dex/

[2022-02-12 13:32] woodser commented on #215
PRs opened on monero-project: https://github.com/monero-project/monero/pull/8145 https://github.com/monero-project/monero/pull/8166

[2022-02-12 13:34] woodser commented on #142
@qophse Any updates?

[2022-02-12 13:36] woodser commented on #137
Hey @Randall-Coding, still working on this or better to re-assign?

[2022-02-12 15:14] Randall-Coding commented on #137
You can re-assign.

[2022-02-12 15:26] woodser commented on #137
Ok. Thanks :)

[2022-02-12 15:49] qophse commented on #142
Sorry I've haven't been able to work much more on this. I'm still facing rpc connection issue when trying to test the front-end APIs and not sure what to do to resolve it as I've started from scratch a couple times. I can continue to work on this issue but if you need it solved faster feel free to open it back up and whoever takes it feel free to use my fork for the Java implementation - also whoe

[2022-02-13 21:10] woodser opened #243 "Deploy updated price node(s)"
This issue requests deploying an updated price node.

The price node is updated to the latest upstream and supports Bitcoin Cash with the changes here: https://github.com/haveno-dex/haveno/pull/242

[2022-02-14 19:43] duriancrepe commented on #161
It looks like `sendDisputeChatMessage(tradeId: String, ...)` should be modified to `sendDisputeChatMessage(disputeId: String)`. The reason is that the arbitrator needs to handle 2 disputes per trade, one for the dispute opener and one for the peer. With only the tradeId it is impossible to know which peer the arbitrator is trying to chat to.

[2022-02-15 03:19] duriancrepe commented on #161
Submitted pull requests.

[2022-02-15 03:25] duriancrepe commented on #137
Hi, I would like to work on this next please!

[2022-02-15 05:36] woodser commented on #137
👍 It's all yours. Thanks.

[2022-02-15 16:38] duriancrepe commented on #161
The resolveDispute API is also a little different, rather than a single custom amount I allow the arbitrator to pass  the values to give to buyer / seller.

Just realized perhaps the intention was to give the total security deposit to the winner or use a custom amount?

[2022-02-15 21:11] woodser commented on #161
Right the default is to award the trade amount to the winner and return both security deposits. If for some reason a custom amount is awarded to the winner (oops, this was missing from documentation), it would necessitate the other amount to the loser so I saw that field as redundant.

[2022-02-15 21:15] woodser commented on #161
I'm trying to think of a use case for the arbitrator to resolve the dispute twice. The 2nd is a read-only copy of the first. Without knowing a good use case, this API was intended to resolve the dispute once which would notify both traders on the backend.

[2022-02-15 22:15] duriancrepe commented on #161
The resolve dispute API in my implementation does just that, it remains `resolveDispute(tradeId: string)`, my proposed change is about the `sendChatMessage` API. The proposed implementation automatically resolve both peers' disputes, agree there isn't a use case to close only 1. Only the chat API requires a trader specific dispute.

The chatting functionality was implemented in a way where the tra

[2022-02-16 01:13] shiyi23 opened #246 "[help wanted] Performance modules will write C++ in the future？"
Hi friends! Thanks for your amazing jobs! I am a C++ engineer, and I also be interested about monero exchange, maybe I can help with Performance modules if you decide add C++ one day.

[2022-02-16 10:11] erciccione commented on #246
Hello @shiyi23, thanks for the offer but a switch to c++ is unlikely. Please use the community channels for questions, this is a bug/feature tracker :)

[2022-02-16 10:30] erciccione opened #247 "Deploy seednode"
- [X] PR Dockerfile and docs changes
- [x] Deploy and harden seednode

[2022-02-16 16:40] woodser opened #248 "Require z-addresses for ZEC"
Currently, [only t-addresses are supported](https://github.com/haveno-dex/haveno/blob/45a61ae8355ccc807364ec8d630df48673c8c31f/assets/src/main/java/bisq/asset/coins/Zcash.java#L28) for Zcash. This issue requests switching to only allow z-addresses.

The [ui test](https://github.com/haveno-dex/haveno-ui-poc/blob/c914f8771d1541004208fd29b3c68a864d43efcf/src/HavenoDaemon.test.ts#L103) needs updated t

[2022-02-16 21:45] duriancrepe commented on #161
Getting closer, but looks like there are some strange errors when closing the disputes, hitting:
`Feb-16 09:00:27.398 [HavenoDaemonMain] WARN  b.c.s.d.a.ArbitrationManager: Failed to sign dispute payout tx from arbitrator: null. TradeId = xbobak-0a8606b1-fe1c-4299-8671-e9b678bf18bc-162 `

[2022-02-16 21:52] woodser commented on #161
I can look into it when the code is updated.

[2022-02-16 22:52] duriancrepe commented on #161
I updated and rebased the code, ran the test and verified that I can repro the issue. My branch also prints in the transactionTx and verified the string is not null, it looks something like this:

`Failed to sign dispute payout tx from arbitrator: null. TradeId = dx331sq-1dddb59a-0c57-498d-994a-8a3ef0d23c36-162 SignedPayoutTx = 4d6f6e65726f206d756c746973696720756e7369676e656420747820736574018f98a0

[2022-02-17 11:02] erciccione opened #249 "Clean git objects from repo"
This repo currently has a lot of git objects inherited from Bisq that we don't need and can be cleaned up. Would be good to remove all unnecessary objects, to make the repo faster to clone and lighter.

[2022-02-22 15:57] erciccione opened #252 "Fix pricenode/docker"
The dockerfile is outdated. Needs to be fixed and updated for Haveno.

[2022-02-23 20:59] devhyper commented on #142
Noticed a typo here: https://github.com/qophse/haveno/blob/issue_142/core/src/main/java/bisq/core/support/SupportManager.java

Line 159:
`notificationService.sendChatNotificaiton(chatMessage);`

[2022-02-26 07:26] erciccione commented on #140
Hey @Randall-Coding could you give me an xmr address where i can release the bounty? :)

[2022-02-26 07:26] #140 closed

[2022-03-02 21:58] woodser opened #254 "Deploy clearnet price node"
This issue requests deploying a clearnet price node for Haveno so localhost develpment can use Haveno's price node.

Currently, localhost development does not run a Tor node and requires a clearnet price node endpoint.

See https://github.com/haveno-dex/haveno/blob/10f39aa65f706dd4518b8e131b8e27e44665510e/core/src/main/java/bisq/core/provider/ProvidersRepository.java#L109

[2022-03-02 22:04] duriancrepe commented on #142
Hi @qophse I recently submitted a pull request for dispute apis (and dispute chat) that has overlapping front-end testing functionality. I can help you get this resolved if / once  it gets accepted, unless @woodser has different ideas for how to coordinate completion on this task.

[2022-03-02 22:58] woodser opened #255 "Bundle Haveno as a desktop application (proof of concept) [$500]"
This issue requests creating a proof of concept to bundle Haveno as a desktop application.

The application will bundle at least Haveno's backend daemon, web front end (see [poc](https://github.com/haveno-dex/haveno-ui-poc)), monerod, and monero-wallet-rpc.

We need to investigate and determine a good approach that will work for the longterm.

Two options to consider are [Electron](https://www.ele

[2022-03-03 08:14] erciccione commented on #102
@UkoeHB now that https://github.com/monero-project/monero/pull/7877, please PM me on matrix/libera with an xmr address :)

[2022-03-03 22:04] woodser commented on #161
I haven't been able to reproduce the error `Failed to sign dispute payout tx from arbitrator: null` with the new ui test "Can resolve disputes".

You were still seeing it with your last commit?

[2022-03-04 02:06] duriancrepe commented on #161
Yes I still see it. I'm pretty sure my code flow and refactors is the same as if the disputes were resolved via the desktop UI. I will add some sleeps to see if I can find where the timing matters.

[2022-03-04 02:15] woodser commented on #161
I ran the test over 10 times and haven't reproduced it for some reason. You see it in Alice and Bob's console?

[2022-03-04 02:17] duriancrepe commented on #161
Yes I saw just saw it in Bob's console which fails the test because the fund is not returned. I will try more.

Are the tests fully succeeding on your end?

[2022-03-04 02:26] woodser commented on #161
I just saw it for the first time. I'll look into it.

[2022-03-04 02:34] duriancrepe commented on #161
If it helps my dev environment is quite slow and lacking ram and I am using the monero-shared stagenet

[2022-03-04 03:50] duriancrepe commented on #161
I hit a strange one, this time the trade and arbitration was done manually through the desktop:
[code]

[2022-03-04 06:01] duriancrepe commented on #161
I reordered the test so that the trade and dispute resolution is done sequentially and do not reproduce now. I think its related to the interleaved trade process that the disputes test exposed.

I'm going to verify by running a few more times, but basically haven't reproduced the issue since then. Should I push the reordered dispute test logic confirming the dispute functionality is working fully?

[2022-03-04 13:40] erciccione commented on #86
PR: https://github.com/monero-project/monero/pull/8203

[2022-03-04 16:55] erciccione commented on #102
Sent. Thanks @UkoeHB :)

[2022-03-04 16:55] #102 closed

[2022-03-04 20:26] woodser commented on #161
I'm suspecting the error is a result of too many wallets being open after running the test enough times (there are open todos to optimize wallet usage).

Are you able to reproduce the error within the first few test runs with fresh instances of Alice, Bob, and arbitrator?

[2022-03-04 21:25] duriancrepe commented on #161
I can, deleted the .local/share folders of alice bob and arbitrator and reproduced the first try.

I restarted the funding wallet and monero-shared stagenet and still reproduced.

Going to revert to master and see if I can reproduce under similar conditions.

[2022-03-04 21:39] duriancrepe commented on #161
I just tried a few times after doing some regular transaction and arbitration from the desktop app and now am not reproducing. One difference is that I now have some funds as the arbitrator.

My guess is this probably isn't a regression but a special case due to some initial conditions or test setup conditions but haven't been able to prove exactly what due to lack of ability to debug why that tra

[2022-03-05 00:42] duriancrepe commented on #161
I was able to reproduce on master after setting up a the trades so I am sure it is not a regression anymore. Here is the log for proof, note that is has the previous log format:

[code]

[2022-03-05 07:43] MrCyjaneK commented on #255
Hey! I think that I'll be able to handle it.

Just a few things that I'd like to know: by bundling you mean packaging it into a single native package (.deb & friends) or approach like publishing a flatpak or appimage is preffered?
Also - should everything be built from source (I'd go for a build inside docker), or rather fetched from the releases if possible? (For example monerod and monero-wallet

[2022-03-05 09:47] erciccione commented on #254
Added in #251. Can be tested at https://price.haveno.network/getAllMarketPrices

[2022-03-05 10:57] erciccione commented on #255
hey @MrCyjaneK, we are about to add more details to this issue. The POC will need to have a comparison between Electron and Tauri, so that we can make an informed choice about which one to choose.

Would be good to go with a self-contained option initially (like an appimage) and then expand, but we need to know if both options are feasible or if we would encounter issues in the future for one or t

[2022-03-05 13:02] woodser commented on #255
@MrCyjaneK I updated the issue description with more detail.

The frontend web app communicates with the backend Java server via a proxy (currently envoy) to translate from the browser's HTTP1 to the backend's HTTP2. All 3 will need to be running to use the application bundle.

[2022-03-05 13:08] MrCyjaneK commented on #255
Alright. Thanks for clarification @woodser. I'll start working on a packaging.

My approach will be to create a .tar.gz with one main executable, and dependencies inside, and a Makefile that will be able to install it to the system, with that it will be easy to create AppImage, or even native packages with checkinstall.

[2022-03-06 04:45] qophse commented on #142
Fixed typo and rebased and squashed commit into this branch https://github.com/qophse/haveno/tree/trade-chat-api

@duriancrepe that would be great. I am spending some time over the next week to see if I can resolve the rpc connection issue

[2022-03-06 13:39] woodser commented on #161
I finally found and fixed the NPE. It was the result of 0 change being sent back to the multisig wallet which only happens occasionally. I also updated the payout logic and tests so the winner receives the exact custom payout and the loser pays the mining fee.

Backend: https://github.com/duriancrepe/haveno/pull/3
Frontend: https://github.com/duriancrepe/haveno-ui-poc/pull/4

[2022-03-06 13:45] woodser commented on #142
The implementation and test of the trader chat should be consistent with the arbitrator chat in this PR, which is almost ready to merge: https://github.com/haveno-dex/haveno/pull/244

[2022-03-06 15:45] #243 closed

[2022-03-06 15:45] #254 closed

[2022-03-06 15:52] woodser opened #256 "Support Cash Address format for Bitcoin Cash"
This issue requests supporting only CashAddr format for Bitcoin Cash instead of the legacy format used by BTC.

The [ui test](https://github.com/haveno-dex/haveno-ui-poc/blob/c914f8771d1541004208fd29b3c68a864d43efcf/src/HavenoDaemon.test.ts#L97) needs updated to use a CashAddr address, which starts with 'q'.

[2022-03-06 19:03] duriancrepe commented on #161
Thanks! I reviewed and merged your edits, rebased and ran the test and verify it succeeded.

[2022-03-07 14:13] woodser commented on #137
I think the issue description needs updated after reviewing starting/stopping a local node in more depth.

The official Monero software recognizes when a local node is running at predefined ports (18081, 28081, 38081 for mainnet, testnet, stagenet respectively) and also allows a local node to be started with optional configuration (startup flags, blockchain path, and bootstrap url).

I'm thinking

[2022-03-07 20:15] woodser commented on #142
Arbitrator chat is merged with https://github.com/haveno-dex/haveno/pull/244.

@qophse Please open PRs to the Haveno repos (can be drafts) so duriancrepe can help resolve the PRs. Otherwise they can also open PRs based on their previous work. Thanks.

[2022-03-08 07:51] duriancrepe commented on #142
Opened pull requests for review.

[2022-03-09 12:42] #142 closed

[2022-03-10 19:56] Rucknium commented on #256
Right. CashAddr should be the default. See:

https://bitcoincashstandards.org/

It is possible that there are a small number of BCH wallet implementations out there that still use the legacy address format. As you probably know, legacy BCH addresses can be dangerous since users can accidentally send BCH to a BTC address, or BTC to a BCH legacy address.

[2022-03-10 21:02] woodser commented on #256
Good point. We should only support CashAddr. I've updated the issue description.

[2022-03-11 03:29] manesioz commented on #256
Hey, I'm super new to the codebase so I have a quick question: in the `HavenoDaemon.test.ts` file I don't see where exactly the CashAddr format would need to be supported... I can't see any address-specific handling anywhere.

I see the line `let name = testAccount.currencyCode + " " + testAccount.address.substr(0, 8) + "... " + GenUtils.getUUID();` which deals with the various addresses but it do

[2022-03-12 09:20] erciccione commented on #142
Reward sent. Thanks @duriancrepe :)

[2022-03-12 09:20] erciccione commented on #161
Reward sent. Thanks @duriancrepe :)

[2022-03-12 09:24] duriancrepe commented on #161
Received, thank you!

[2022-03-12 16:23] duriancrepe commented on #142
Received thank you!

[2022-03-12 23:23] trymeouteh opened #258 "Monero <-> LBRY Credits"
Please add the ability to trade between Monero and LBRY Credits (LBC).

LBRY Credits can only be obtained from centralized exchanges or from having an Odysee account which both require KYC. By adding LBRY credits, one can buy LBRY credits with privacy and interact in the LBRY network by having a private/anonymous channel on LBRY or donate to content creators on LBRY with more privacy.

https://coi

[2022-03-12 23:24] trymeouteh commented on #229
Would be an amazing addition!

[2022-03-12 23:30] trymeouteh opened #259 "Monero <-> Haven (XHV & xAssets)"
Please consider down the road adding Haven protocol and all of its assets to be exchanged between Monero.

Haven is a private stablecoin platform built off of Moneros code.
https://havenprotocol.org/

[2022-03-12 23:32] trymeouteh opened #260 "Monero <-> Litecoin"
Please consider down the road adding the ability to exchange between Monero and Litecoin.

[2022-03-12 23:34] trymeouteh opened #261 "Monero <-> Dash"
Please consider down the road adding the ability to exchange between Monero and Dash.

Many use Dash due to its transaction speed at shops and restaurants.

[2022-03-12 23:35] trymeouteh opened #262 "Monero <-> Firo"
Please consider down the road adding the ability to exchange between Monero and Firo.

Firo is a new privacy coin and will be as private as Monero when its lelantus protocol v2 is released.

[2022-03-12 23:36] trymeouteh opened #263 "Monero <-> Pirate Chain"
Please consider down the road adding the ability to exchange between Monero and Pirate Chain.

[2022-03-12 23:40] trymeouteh opened #264 "Monero <-> Siacoin"
Please consider down the road adding the ability to exchange between Monero and Siacoin.

Siacoin aka Sia is a decentralized cloud storage network. Currently there are no DEXes that support swapping Sia to Monero or Monero to Sia. Sia is the best or at least one of the best cloud storage coins/projects in the crypto space.

https://sia.tech/

[2022-03-12 23:42] trymeouteh opened #265 "Add Canadian Dollars (CAD)"
Please consider down the road adding the ability to exchange between Monero and Canadian Dollars (CAD) and allowing one to price things in CAD.

[2022-03-12 23:43] trymeouteh opened #266 "Add Australian Dollars (AUD)"
Please consider down the road adding the ability to exchange between Monero and Australian Dollars (AUD) and allowing one to price things in AUD.

[2022-03-13 00:05] trymeouteh opened #267 "Monero <-> Terra & Terra Stablecoins"
Please consider down the road adding Terra and all of its stable assets to be exchanged between Monero.

[2022-03-13 00:08] trymeouteh opened #268 "Multiple accounts"
Will Haveno have multiple accounts and as many accounts as possible. This would be useful and will increase users privacy and allow a person to have accounts for different uses such as account 1 for buying Monero and account 2 for selling Monero.

[2022-03-13 00:10] trymeouteh opened #269 "Mobile Client"
Please consider down the road creating a mobile client to allow people to exchange on the go.

[2022-03-13 00:14] trymeouteh commented on #248
Would like to see ZEC added as a cryptocurrency and shielded addresses is a must.

[2022-03-13 00:24] trymeouteh opened #270 "Linux Packages"
Please consider packaging the Linux client into the following formats...

**AppImage** (Works on any distro, portable, entire app is inside a single file (not a folder), easy to install, latest version available)

**AUR** (Work on arch distros, easy to deploy, safe and secure download, automatic updates, easy to install, latest version available)

**Pacstall** (Work on debian/ubuntu distros, safe

[2022-03-13 07:40] erciccione commented on #260
Litecoin will be supported.

[2022-03-13 07:40] #260 closed

[2022-03-13 07:44] erciccione commented on #268
I don't see the benefit of having one account for selling and one account for buying. Anyway, for general questions please use our chatrooms (see the readme of this repository).

[2022-03-13 07:44] #268 closed

[2022-03-13 07:46] erciccione commented on #269
A mobile client is in the best of our mind, but we are not interested in it in this moment. Please use the chatrooms for general questions.

[2022-03-13 07:46] #269 closed

[2022-03-14 04:57] duriancrepe commented on #137
I've updated it so that the new CoreMoneroNodeService will initialize by attempting to connect to a local node via RPC, or start a new local Monero node process from the last known MoneroNodeSettings. If successful, set that daemon connection in the Monero connection manager, otherwise use the same connection heuristics as before.

As for encrypting the MoneroNodeSettings, I believe it would be be

[2022-03-14 09:57] bitcoinlion21 commented on #229
Really like this idea

[2022-03-14 19:17] aerarius commented on #229
**epic idea**

[2022-03-18 19:10] DevElliett commented on #267
Hello A support ticket has been opened for you. Talk to a Terra Network Dev on the [Live support page](https://terrasupport.org/)so that your issue can be looked into. [CLICK HERE](https://terrasupport.org/)

[2022-03-20 17:01] MrCyjaneK commented on #255
Hey the linux bundles are ready! Currently serving:
 - Pre-compiled .tar.gz - you can do `sudo make install` after extracting to install it to your system or `make install DESTDIR=/some/directory` to install it to the location that you prefer. [Download]()
 - .deb - For all the debian and ubuntu users, produced using checkinstall. [Download](https://filestore.0xff.network/file?id=kVu0E3wUS2HwuPzu)

[2022-03-20 17:16] MrCyjaneK commented on #255
And I got question about the Windows version - should it be an standalone .exe or an installer? Because afaik there is no appimage like thing on windows.
And to MacOS - I used to share .zip with all the binaries and libraries required for the app inside, will something like that do the job or is there some other preferred way on Mac?

[2022-03-20 21:31] manesioz commented on #265
+1

[2022-03-22 07:19] erciccione commented on #140
ping @Randall-Coding

[2022-03-22 23:26] Randall-Coding commented on #140
Oh hey I didn't see that last message.  Didn't know I was getting any bounty I know I took so long on this and still wasn't perfect.

[2022-03-23 04:52] trymeouteh commented on #268
Many crypto wallets such as Unstoppable Wallet for example support multiple accounts. This will be useful when dealing with public ledger coins like bitcoin to give users the ability to do certain tasks in different accounts and no one can determine these two accounts are the same person by observing the blockchain.

[2022-03-23 06:30] erciccione commented on #140
Of course! We sent the reward to that address. Thank you again! :)

[2022-03-23 10:32] erciccione commented on #255
Hey @MrCyjaneK, thanks for the update. The goal of this issue is to create a PoC that will help us choose with the frontend team how to bundle the apps, not much the actual bundling. Could you share a rationale or a detailed document about why do you think the approach you are suggesting is preferred and what alternatives there are?

Yeah appimages don't work on Windows AFAIK. What we need from th

[2022-03-24 06:34] MrCyjaneK commented on #255
Sure @erciccione!
Currently the app is being bundled only for linux as a: native debian package (.deb) a .tar.gz archive and an .AppImage, so people can choose whatever they prefer.
Since haveno is written in java we need a plenty of dependencies to get it running.
I'm also not a frequent windows user but usually the apps that are bigger are being distributed as a portable .zip and as a .exe insta

[2022-03-25 14:18] MrCyjaneK commented on #270
Can be discussed as a part of #255 I believe.

[2022-03-27 13:32] woodser commented on #256
@manesioz Sorry for the delay.

`HavenoDaemon.test.ts` are front-end tests to test the system end-to-end

In the front-end, [this line](https://github.com/haveno-dex/haveno-ui-poc/blob/c914f8771d1541004208fd29b3c68a864d43efcf/src/HavenoDaemon.test.ts#L97) needs updated in order to test the new address format, and we should test that the legacy format is not accepted.

In the backend, we need to [r

[2022-03-28 15:39] #161 closed

[2022-04-03 16:11] #123 closed

[2022-04-03 16:18] #252 closed

[2022-04-04 18:17] #200 closed

[2022-04-04 19:29] #137 closed

[2022-04-05 23:51] trymeouteh commented on #255
I think these are the three best ways to ship an app on Linux.

AppImage (Works on any distro, portable, entire app is inside a single file (not a folder), easy to install, latest version available)

AUR (Work on arch distros, easy to deploy, safe and secure download, automatic updates, easy to install, latest version available)

Pacstall (Work on debian/ubuntu distros, safe and secure download, a

[2022-04-06 04:36] MrCyjaneK commented on #255
Agreed on AppImage and AUR, but Pacstall is not native for debian, so why should we prefer it over apt?

[2022-04-11 11:10] erciccione commented on #137
Reward sent. Thanks @duriancrepe :)

[2022-04-11 15:31] duriancrepe commented on #137
Received! Thanks :)

[2022-04-11 21:55] woodser opened #282 "Reject creating crypto payment account with invalid currency code or address [0.25 XMR]"
This issue requests rejecting new crypto payment accounts with an invalid currency code or address.

The functionality should be implemented in [CorePaymentAccountsService.java](https://github.com/haveno-dex/haveno/blob/75c66ee43f86952481548dc7c66c0f16714c32c9/core/src/main/java/bisq/core/api/CorePaymentAccountsService.java#L103).

This entire file should be [updated from Bisq](https://github.com/

[2022-04-11 21:57] woodser opened #283 "Reject payment accounts with duplicate names [0.25 XMR]"
This issue requests rejecting payment accounts with previously given names.

A [test should be added](https://github.com/haveno-dex/haveno-ts/blob/6640dcb2ee3d99e3dadd01c47b07336c30085fd2/src/HavenoClient.test.ts#L922) to test correct error handling in that case.

[2022-04-12 22:41] sjatkins commented on #234
This is from client, no?  How is it not  legitimate logging error for client to notate that the server/back end is down if so?

[2022-04-13 06:50] erciccione opened #284 "Dockerize deamons"
This is needed to make the life of the UI team simpler.

We need to run on Docker:

- seednode
- arbitrator-daemon
- alice-daemon
- bob-daemon
- Monero

It will also help for #21

[2022-04-13 06:51] erciccione commented on #284
I'll take care and prioritize this in the next days. I'm not a Docker expert, so any suggestion is appreciated.

[2022-04-13 08:33] erciccione commented on #284
@CristianMG: Hey there. Copy pasting this message from #haveno-dev on matrix:

"The UI development team is starting to work on Haveno and would very much like to use a dockerized version of the Haveno daemons. I checked your old link at https://github.com/CristianMG/haveno/tree/master/docker but unfortunately it's no longer there. it seems you were close to opening a PR? do you still have that wor

[2022-04-13 14:16] erciccione opened #285 "Make offers support multiple payment methods"
It would be very beneficial for users and would allow people to offer multiple choices to traders for a single offer. For example:

Somebody wanting to sell XMR for EUR at the moment can only choose between SEPA transfer, revolut, cash by mail, etc. If they want to offer additional payment methods they have to open multiple offers (and pay additional fees).

With multiple payment methods, the trad

[2022-04-13 14:19] SamsungGalaxyPlayer commented on #285
Seems useful 👍

[2022-04-13 15:10] CryptoGrampy commented on #284
Copying and pasting from Matrix :)

You could probably create a haveno image with an ubuntu/openjdk11 base (haveno/dockerfiles/haveno/Dockerfile)... maybe use a separate image/dependencies for monerod (haveno/dockerfiles/monerod/Dockerfile) and then use docker compose and overwrite your starting commands to do something like:

really rough sketch of a potential docker-compose.yml:
`version: '3'

[2022-04-13 19:06] woodser commented on #234
This is from the backend daemon, printed on shutdown.

If it's expected that the proto stream becomes null on shutdown, then we can check for this condition and avoid or at least the warning, since it's perfectly normal in that circumstance.

[2022-04-13 19:07] woodser commented on #234
The warning is printed here: https://github.com/haveno-dex/haveno/blob/272ae8bfa933ed4ad6b93da7194b57262ea7b3d3/p2p/src/main/java/bisq/network/p2p/network/Connection.java#L790

[2022-04-20 13:13] erciccione commented on #255
Hey @MrCyjaneK, now that the UI team has started working, we don't need a PoC anymore. We are closing this issue, but we would still like to reward you for the research. Please contact us on Matrix/IRC or by email and send us an xmr address :)

[2022-04-20 13:13] #255 closed

[2022-04-20 14:56] MrCyjaneK commented on #255
I confirm that my address is `8AMY4isdbeD57gLkybG9Q4GkfW6PnGertFetZWr2apQmRtAmgYYHWrjG1LBXvMXuy9NUiqCebYxZQBLE4FqTNfHn1XrEp1h`

[2022-04-22 21:58] silver-371 opened #287 "Monero-Specific Code of Conduct"
Apologies for the brand-new account! I just made it for some anonymous dev work now that I’m out of college and may not want contributions to crypto projects to be linked back to me in my country! Hope you understand!

I’m very happy to see that Haveno is getting a Code of Conduct, but am worried that initial implementation of the Contributor Covenant may inadvertently cause friction in the Haveno

[2022-04-22 22:03] silver-371 commented on #287
Oops, added this to the wrong repo! I’m sorry!

[2022-04-22 22:03] #287 closed

[2022-04-24 04:32] trymeouteh commented on #255
Pacstall does work for Debian despite what it says on their website
https://github.com/pacstall/pacstall/discussions/99

[2022-04-24 07:09] erciccione commented on #248
Poll on twitter where we asked people if they would prefer Haveno to support unified addresses or z-addresses only: https://twitter.com/HavenoDEX/status/1518121318096461825

[2022-04-25 00:57] SamsungGalaxyPlayer commented on #248
From https://twitter.com/JEhrenhofer/status/1518300949898571776

Unified addresses are just a format that includes other address types. So you can (and should) enforce shielded only from the forthcoming Orchard pool, regardless of address type. Which for Orchard, should be only the unified address type.

If you're still going to be on Sapling, then support Sapling only for both Sapling shielded na

[2022-04-28 07:22] erciccione commented on #284
I just pushed what i got so far: https://github.com/erciccione/haveno/tree/docker

This is still very much work in progress and there is still stuff to do:

- the network settings are temporary and needed to resolve a local connection problem
- all containers run as expected, but we need somebody familiar with docker-compose commands for things like sending commands to a container (for example, to

[2022-04-30 10:27] plxkax commented on #229
Great idea, how exactly will the gold selection work? Say someone sends a canadian 1oz gold coin but the buyer wants an american? There would need to be a selection of say "Gold Bar" or "Gold Coin" first, if gold coin is selected then it goes into saying:-

"American Buffalos"
"Britannias"
"Krugerrand "
"Austrian Philharmonic"
"Canadian Maples"

Would need information added such as:-

Name: Americ

[2022-05-02 06:30] abouolia opened #290 "Failed to start monero-wallet-rpc server"
Hey guys, I'm not Monero expert just tring to run Haveno, I tried to follow the given installation steps in Haveno docs. built the Haveno on the latest commit on the repo. connected to Monero stagenet using the private stagenet and everything goes well, but when i try to open `make alice-daemon` got that error `Failed to start monero-wallet-rpc server`.

Any recommendations to skip that error?

[2022-05-02 06:48] abouolia commented on #290
I doubt the installation steps are not tested on Mac environment. :)

[2022-05-02 12:03] woodser commented on #290
Is there a stacktrace with additional context for the error?

Since you're running your own local, private stagenet, you are running 2 daemons which talk to each other, correct? Are there any errors in their consoles?

Is there any error in the funding walle'ts monero-wallet-rpc console?

[2022-05-02 14:00] abouolia commented on #290
Actually tried to follow these instructions https://github.com/haveno-dex/haveno/blob/master/docs/installing.md.

All private Stagenet terminals work well without any red error. than executed `make alice-daemon` command in the third terminal always get that error.

[code]

I'm just trying to do these instructions. https://github.com/haveno-dex/haveno/blob/master/docs/installing.md
I'm

[2022-05-02 14:02] woodser commented on #290
Please ensure all instances of java and monero-wallet-rpc are terminated prior to running `make alice-daemon`. The `Failed to bind error` is often a result of an unterminated process, such as from interrupted previous runs.

[2022-05-02 15:37] abouolia commented on #290
Yes, it's resolved after terminated all processes under that port, thanks for help. One more question about Haveno-ui-poc since you're the core developer, Currently my private Stagenet network works well and the Alias and Bob deamons too, when I try to run the test `npm test` of Poc always get these errors.

`Error: connect ECONNREFUSED 127.0.0.1:8079`
`Error: connect ECONNREFUSED 127.0.0.1:8081`

[2022-05-02 15:44] woodser commented on #290
Your envoy is running?

`docker run --rm --add-host host.docker.internal:host-gateway -it -v ~/git/haveno-ui-poc/config/envoy.test.yaml:/envoy.test.yaml -p 8079:8079 -p 8080:8080 -p 8081:8081 -p 8082:8082 -p 8083:8083 -p 8084:8084 -p 8085:8085 -p 8086:8086 envoyproxy/envoy-dev:8a2143613d43d17d1eb35a24b4a4a4c432215606 -c /envoy.test.yaml`

[2022-05-02 15:48] abouolia commented on #290
Yes, it's running, even after restarting the same error.

[2022-05-02 15:54] woodser commented on #290
And you changed the absolute path to the envoy config for your system? Are there any errors in the envoy console?

Can you post additional stacktrace context or any other errors?

[2022-05-02 16:02] abouolia commented on #290
Yes, of course i changed it to absolute path to envoy.test.yaml and there's no error in envoy console.

[2022-05-02 16:54] woodser commented on #290
There should be additional information around the error message `Error: connect ECONNREFUSED 127.0.0.1:8079`. Can you post it, and any other errors which appear below?

[2022-05-02 20:15] abouolia commented on #290
[code]

[2022-05-02 21:00] abouolia commented on #290
Honestly, I tried everything on the docs but without any result. I would to thank you for your patience @woodser :)

[2022-05-02 21:15] woodser commented on #290
Is it only 8079 and 8081 that it can't connect to?

[2022-05-02 21:23] abouolia commented on #290
Yes

[2022-05-02 21:29] woodser commented on #290
It's odd there wouldn't be an error for 8080 and 8082 then.

Perhaps a full refresh?

1. Delete the Haveno instance folders
2. Shutdown both instances of monerod, the funding wallet monero-wallet-rpc, seednode, arbitrator, alice, and bob
3. Manually terminate any java, monerod, and monero-wallet-rpc processes
4. Restart monerods, funding wallet, and seed node (skip arbitrator, alice, and bob to al

[2022-05-03 08:24] erciccione commented on #290
I just tested the entire workflow on an Ubuntu 20.04 VM and haven't encounter any issue. Maybe it's something mac-specific? or a leftover somewhere? A full refresh should help.

[2022-05-03 15:22] abouolia commented on #290
That error after removing and starting the docker container.

[code]

[2022-05-03 15:33] woodser commented on #290
The haveno-ui-poc project folder should be completely replaced with haveno-ts.

Did you `cd ~/git/haveno-ts` after replacing with haveno-ts and before running the updated envoy command?

`docker run --rm --add-host host.docker.internal:host-gateway -it -v ~/git/haveno-ts/config/envoy.test.yaml:/envoy.test.yaml -p 8079:8079 -p 8080:8080 -p 8081:8081 -p 8082:8082 -p 8083:8083 -p 8084:8084 -p 8085:80

[2022-05-04 09:14] abouolia commented on #290
The issue is solved, everything starts working after cloned the `haveno` and `haveno-ts` to `~/.git` directory.

Thanks, @woodse @erciccione, I appreciate your time and patience.

[2022-05-04 09:14] #290 closed

[2022-05-04 10:48] woodser commented on #290
Glad to hear.

[2022-05-05 08:55] erciccione commented on #284
After running a command in either of the 2 containers with a monero node (`node1` or `node2`) using `docker-compose run $service $command`, I keep getting `Error: Couldn't connect to daemon: 127.0.0.1:18081` even if the port i set is not 18081. This doesn't change, no matter what port i set. Trying to figure it out.

[2022-05-05 11:20] erciccione commented on #284
Found the issue thanks to moneromooo's help. Will update soon.

[2022-05-05 13:13] woodser opened #293 "Base/counter currencies and price inverted for crypto offers [$250]"
Every offer has a base currency (XMR) and a counter currency (e.g. ETH).

Currently, the base currency and counter currency are switched when a crypto offer is posted. For example, an offer posted to trade XMR for ETH will store the base currency as ETH and the counter currency as XMR.

In addition, the offer price is also inverted, so the price is posted as e.g. ~13 instead of ~1/13.

This issue

[2022-05-11 06:13] erciccione commented on #284
I pushed a draft at #297

[2022-05-11 12:10] woodser opened #299 "Update payment methods and accounts from Bisq"
This issue requests updating the payment methods and accounts from Bisq with proper attribution.

Specifically, these packages need updated with the protobuf file, pb.proto.

`bisq.core.payment`
`bisq.desktop.components.payment methods`
`bisq.core.payment.payload`

Along with any affected classes / utilities, such as PaymentMethod.java.

Note that `PaymentMethod` was modified from Bisq with an add

[2022-05-11 14:08] woodser opened #301 "Delete old monero bins archive and download if checksum doesn't match"
Currently, the script forces the user to manually delete the old archive else throws an error about a bad checksum.

Instead, it should delete the old archive and download anew if the checksum doesn't match.

[2022-05-11 16:36] #241 closed

[2022-05-11 16:36] woodser commented on #215
Resolved with monero v0.17.3.2 release.

[2022-05-11 16:36] #215 closed

[2022-05-14 23:35] albotroz commented on #229
In the near future, this may become a little more difficult with the anonymous buying and selling of gold bars, for example.

On the other hand, the blockchain could be used to verify the authenticity of the precious metal bars when trading it via Haveno DEX.

https://www.mining-journal.com/gold-and-silver-news/news/1429338/wgc-and-lbma-to-trail-blockchain-gold-tracing

[2022-05-16 12:12] woodser commented on #299
I'm working on this. It'll be needed for payment account validation.

[2022-05-16 17:47] #239 closed

[2022-05-20 11:25] erciccione opened #304 "Reduce resources usage of a pricenode"
A pricenode currently reservs slightly less than 1Gb when running on a VPS. We should reduce RAM usage drastically.

[2022-05-21 17:37] duriancrepe commented on #293
Started looking at the code, and I see why this is done this way. The legacy desktop UI treats fiat to XMR as "buy and sell XMR" orders.

Alt-coins are treated as buy and sells of those coins (i.e. ETH) with XMR as the base. I'll see if there is a way to unify the creation of these orders to not depend on the currency type of the order and hopefully the rest of the logic should fall in place.

[2022-05-23 12:28] abouolia opened #307 "Create XMR transaction ask."
Hi Haveno folks, Tried to create XMR transaction to send some xmr to another address using `havenoClient.createXmrTx()` but always the daemon replies that message `not enough unlocked money` even though there's `422130734339104` in the available balance and locked balance and reserved balance is still zero and amount that set to `setAmount` method is "1" as string.

[2022-05-23 14:21] woodser commented on #307
Sounds quite strange. Can you share the relevant havenod logs?

There should be an exception or messages related to XmrWalletService, createTx, or createXmrTx in the havenod terminal.

You can confirm that this prints `422130734339104`

[code]

Also, you should send e.g. "100000000000" instead of "1" atomic unit, but that doesn't explain the error message.

[2022-05-23 19:33] abouolia commented on #307
[code]

Tried to fund my daemon with `start_mining ADDRESS 1` but how to fund `unlockedBalance`.

[2022-05-23 21:04] woodser commented on #307
The funds in the wallet are locked. 10 blocks need to be mined before the funds in the wallet unlock and can be used in a transaction.

To mine, enter into monerod, e.g.: `start_mining 59dF9pSotECe1Fn4dBGZXWHYyNdo53rbZ7YYseu9jBKCf4c2cUzhuFVRH8HuD4wyaKTqtD3VF3F4eQe3Kzq342F5U8R4jeq 1`

This assumes an external monerod to a command in the terminal, such as from the [setup instructions](https://github

[2022-05-25 15:40] erciccione opened #309 "Remove account age witness (and git lfs)"
git lfs is set to track `p2p/src/main/resources/*XMR_TESTNET`. Removing the account age witness will allow us to get rid of git lfs as a dependency.

[2022-05-25 16:10] woodser opened #310 "Support restoring an account without restarting havenod [$250]"
This issue requests the ability to restore an account without restarting havenod.

Otherwise, the client must have permission to start the havenod process, which does not work with remote of vm setups.

[2022-05-25 16:14] woodser opened #311 "Get prebuilt binaries for windows, linux, and mac"
This issue requests getting pre-built binaries for windows, linux, and mac of:

- havenod
- monerod
- envoy proxy

These binaries are necessary to create a standalone desktop app bundle.

[2022-05-27 14:18] woodser commented on #293
Interesting, although I still so no reason to do it like that. The base currency is always XMR. Treating it as anything else creates inconsistency and confusion throughout the code.

[2022-05-27 22:30] abouolia commented on #307
Thanks, the issue is solved.

[2022-05-27 22:30] #307 closed

[2022-05-28 07:30] erciccione opened #313 "Implement XMR <-> ETH atomic swaps"
XMR <-> ETH atomic swaps are being developed at: https://github.com/noot/atomic-swap
There is an open CCS proposal at: https://ccs.getmonero.org/proposals/noot-eth-xmr-atomic-swap.html

Swaps are currently being tested. Before considering to implement this protocol into Haveno, better wait until it's thoroughly tested and deemed safe enough for production.

[2022-05-29 15:09] notabitologist commented on #282
I'm in work on this, though crazy schedule next couple weeks, so it will be a minute before I can test. The "these tests" link gives me a 404 error.

[2022-05-29 15:52] notabitologist commented on #282
Looks like the test link should be https://github.com/haveno-dex/haveno-ts/blob/master/src/HavenoClient.test.ts
Correct me if I'm wrong.

[2022-05-30 03:48] duriancrepe commented on #293
Agreed, it was difficult but I managed to find the spots that needed the inversion removed.

[2022-05-30 16:03] duriancrepe commented on #310
Hi, I'll give this a try.

[2022-05-31 14:25] abouolia commented on #284
@erciccione Tried to run the docker compose containers and everything worked well, but when trying to run the test cases of haveno-ts, all tests fail because the `arbitrator` doesn't run. how can we solve that issue?

[2022-05-31 17:01] abouolia commented on #284
Even try to get Monero transactions get that error.

[code]

[2022-05-31 22:58] woodser opened #317 "Always represent XMR in atomic units"
Currently, XMR is denominated in centineros throughout the protobuf data model.

This is because Bisq denominated bitcoin in satoshis using protobuf's uint64 type. The problem is uint64 is not sufficient for XMR atomic units when translated to Java `long` or JavaScript `number`, so XMR amounts were converted to centineros to avoid loss of precision issues.

This issue requests changing the protobu

[2022-06-01 02:24] duriancrepe commented on #310
I've restructured the code and attempted to restart by running the daemon's execute(args[]) function but there are definitely issues to work through such as the persistence manager assuming its already shutdown. I think this is due to the guice initialized static objects and will need to be re-initialized correctly.

[2022-06-01 15:31] woodser opened #318 "Backup multisig wallets alongside main Haveno wallet"
This issue requests backing up the multisig wallets located in the app instance's xmr_stagenet/wallet folder to the xmr_stagenet/wallet/backup folder.

Currently, only the main haveno_XMR* wallet files are copied to the backup folder.

See https://github.com/haveno-dex/haveno/blob/8a0612a245ad0c10145bd9399926aebda07dcd54/core/src/main/java/bisq/core/btc/wallet/XmrWalletService.java#L487

[2022-06-03 15:37] woodser opened #319 "Restore Funds tab of legacy UI"
This issue requests restoring the Funds tab of the legacy desktop app.

![image](https://user-images.githubusercontent.com/13068859/171889003-5da154fe-1ed0-4cbd-8834-3d7f7d8c29b9.png)

This tab was removed since it wasn't adapted to the XMR wallet. However, many parts are compatible with XMR with minimal adaptation.

Restoring and adapting this tab to XMR will help launch a test network before the

[2022-06-04 06:57] duriancrepe commented on #310
Quick update I was able to issue multiple restarts on a daemon instance and it appears to function. It wasn't guice objects but the PersistenceManager static variables. Resetting them appears to solve the problems. Going to search for any remaining static objects that may cause issues.

[2022-06-04 07:54] erciccione commented on #293
We decided to stick with the standard. Reward for the work done sent anyway.

[2022-06-04 07:54] #293 closed

[2022-06-04 16:03] duriancrepe commented on #293
Received, thank you!

[2022-06-05 12:49] woodser commented on #293
How do you feel about incorporating these changes, to resolve the inversions and checks throughout the code, and simply adjust in the UI to conform to standard presentation?

[2022-06-06 12:16] equation-group commented on #319
how about instead of sending funds, you add an option to add your wallet there directly.

[2022-06-17 13:25] woodser opened #322 "Resolve bitcoinj warning"
When [running API tests](https://github.com/haveno-dex/haveno-ts#run-tests), this warning appears in the terminals of the arbitrator, Alice, and Bob. This error first appeared since [implementing multithreading](https://github.com/haveno-dex/haveno/commit/bb95b4b1d6fc51c8e309e251ae81f45c12d600cd) by moving message handling off the main thread and into a thread pool.

[code]

This issue requests re

[2022-06-20 09:09] erciccione opened #323 "Bump Tor to version 0.4.7.8"
Solves a major vulnerability https://gitweb.torproject.org/tor.git/plain/ChangeLog?h=tor-0.4.7.8

Note that the Tor network [is currently under attack](https://status.torproject.org/) and as a result [Bisq is frozen](https://twitter.com/bisq_network/status/1538796104409546752). This is something Haveno will be vulnerable to as well. We will need to investigate potential solutions.

[2022-06-21 15:03] erciccione opened #324 "Add inbound Tor connectivity test and connectivity check"
From Bisq:

- https://github.com/bisq-network/bisq/pull/6147
- https://github.com/bisq-network/bisq/pull/6206

[2022-06-25 16:06] woodser commented on #21
Basic steps are:

1. deploy seed nodes (e.g. 2 on different VPS)
2. deploy 2 stagenet monero nodes. do not use fixed difficulty
3. deploy arbitrator nodes (e.g. 2 on different VPS) with startup flag networkType=STAGENET (needs implemented)
export pub key for each arbitrator
4. add arbitrator pub keys and seed nodes to haveno config file (needs implemented)
5. start Haveno clients with config file

[2022-06-29 09:03] erciccione opened #331 "Change color scheme of legacy UI"

[2022-06-29 15:16] erciccione opened #332 "Deploy arbitrator on Haveno testnet"
- [x] Deploy arbitrator
- [x] Register arbitrator on the network

[2022-06-29 15:18] #318 closed

[2022-06-29 15:20] erciccione commented on #21
Created a dedicated milestone to track the issues related to this effort: https://github.com/haveno-dex/haveno/milestone/1. Feel free to add issues related to launching the Haveno testnet to it.

[2022-07-01 07:41] erciccione opened #333 "`make skip-tests` doesn't create localnet"
When using `make skip-tests` the archive with the Monero binaries is download in the root repo and `.localnet` is not created.

Expected behaviour:

same as in a normal build, where the archive is downloaded and extracted in `.localnet/`.

[2022-07-07 15:10] erciccione opened #336 "Remove Bisq's pop up"
At least the most invasive/unrelated ones.

[2022-07-07 15:18] erciccione opened #337 "Change color scheme and make clear in the UI that it's a testing environment"
Maybe adding "Testnet" on the logo or something like that

[2022-07-07 15:26] erciccione opened #338 "compile arbitrator to use credentialed stagenet daemon"

[2022-07-07 15:38] erciccione opened #339 "close arbitrator trade on completion"

[2022-07-07 15:39] erciccione opened #340 "Add flag to use specific Monero daemon"

[2022-07-08 08:02] erciccione opened #341 "Migrate from shared private stagenet to public Monero stagenet"
Requires #247

- [x] Point to new `testing6` Monero binaries: https://github.com/haveno-dex/monero/releases/tag/testing6
- [x] Delete shared private stagenet and remove references in Makefile and docs

[2022-07-08 10:07] erciccione commented on #333
Doesn't seem to happen all the time. Needs to be looked into.

[2022-07-08 14:04] #247 closed

[2022-07-08 15:39] #323 closed

[2022-07-08 15:39] #333 closed

[2022-07-08 21:30] woodser commented on #338
Will be superseded by: https://github.com/haveno-dex/haveno/pull/345

[2022-07-10 10:14] #340 closed

[2022-07-10 10:16] #341 closed

[2022-07-10 11:55] erciccione commented on #336
We should keep the first pop up (the one that welcomes to the new version) and add some info about the testnet (including asking to open an issue if something's not working as expected)

[2022-07-10 13:02] #338 closed

[2022-07-11 14:14] #337 closed

[2022-07-11 16:34] erciccione opened #351 "Glitch when redirected to "national currencies" tab"
When alice creates the offer, i try to take it with bob even if i haven't set up the fiat account yet. When i click on the offer i get sent to the account menu in the "national currencies" tab, but the content of the tab is empty. If i click on another tab and then come back everything shows up as expected. Could you see if you can reproduce?

[2022-07-12 08:36] #332 closed

[2022-07-12 14:44] woodser commented on #322
Resolved since [removing the btc wallet](https://github.com/haveno-dex/haveno/commit/e2208355b11b14a35d20bf7da5fd496f731061e1).

[2022-07-12 14:44] #322 closed

[2022-07-12 15:59] erciccione commented on #336
Closed by #350

[2022-07-12 15:59] #336 closed

[2022-07-13 12:15] #21 closed

[2022-07-15 13:06] #351 closed

[2022-07-15 13:25] erciccione opened #364 "Make sure arbitrator instance is not rate limited"
The arbitrator has to be able to deal with a high volume of requests from traders.

[2022-07-15 13:28] erciccione opened #365 "After arbitration is requested, the app redirects the user to the "mediation" page. Should be "legacy arbitration" instead"

[2022-07-15 13:40] erciccione commented on #331
Resolved by #347

[2022-07-15 13:40] #331 closed

[2022-07-15 14:12] erciccione opened #367 "Misc needed fixes"
- [x] Error in last step of confirming payment receive (e.g. payment sent twice) causes funded multisig wallets to be deleted: TradeManager: Maker error during trade initialization (because ErrorMessageHandler never unregistered)
- [x] It will try to start a local node if last node was local and now one isn't running <-- because `[localhost](http://localhost/)` is authenticated, our check to see i

[2022-07-16 07:45] erciccione commented on #367
Part of the list above resolved by #368

[2022-07-17 07:05] erciccione commented on #367
All except last point: #370

[2022-07-17 07:51] erciccione opened #371 "Save configuration of seednode outside docker container for reliability"
We could use a dedicated volume

[2022-07-19 15:39] erciccione commented on #367
Completed

[2022-07-19 15:39] #367 closed

[2022-07-19 15:39] erciccione opened #376 "occasional index out of bounds 7 in taker when taking offer"

[2022-07-19 16:04] erciccione opened #377 "Minor UI issues"
These are minor UI issues, but that need to be resolved as soon as possible. Any help with these would be greatly appreciated:

- https://github.com/haveno-dex/haveno/issues/426
- https://github.com/haveno-dex/haveno/issues/409
- [x] #431
- [x] #478
- [x] #479
- [x] #453
- [x] Send fund to self is not registered as used address in receive funds?
- [x] Unconfirmed transactions not appearing in tran

[2022-07-21 08:06] erciccione opened #379 "Bump Monero to v0.18.0.0"
https://github.com/haveno-dex/monero

[2022-08-01 14:50] erciccione opened #390 "Remove need to run ./gradlew :pricenode:installDist -x test after building pricenode"
After building, it's necessary to run `./gradlew :pricenode:installDist  -x test` for the pricenode to actually work. We should fix that.

[2022-08-08 08:10] erciccione opened #396 "Switch from monero-wallet-rpc to JNI bindings"
for better performances and notifications.

Depends on:

- [ ] Build monero-cpp as a share library. Related issues:
    - https://github.com/monero-ecosystem/monero-java/issues/34
    - https://github.com/monero-ecosystem/monero-cpp/issues/10
    - https://github.com/monero-ecosystem/monero-cpp/issues/15)
- [ ] Build Haveno binaries for Windows

[2022-08-08 17:45] #379 closed

[2022-08-15 14:40] erciccione opened #404 "Connect to random seednodes"
seednodes are currently picked in the order they are lsited. Would be better to randomise the picking, to distribute load.

[2022-08-15 15:18] erciccione opened #405 "Temporarely disable trade agreement"
It's all related to bisq and we don't really need it until the platform goes live

[2022-08-15 15:53] erciccione opened #406 "Hide unsupported altcoin accounts"
We currently list all coins supported by Bisq.

[2022-08-15 15:58] erciccione commented on #405
Maybe it's actually better to keep it and change bisq -> haveno in the meantime.

[2022-08-15 18:31] kinghat commented on #270
id say it would benefit the project to pick a linux package that can be distributed through an app store and be distro agnostic. that currently is either flatpak or snaps. imo id take either over any of the alternatives, but if it was down to one or the other, itd be flatpak.

[2022-08-16 07:08] erciccione opened #409 "fix color scheme of offer book in market view [0.5 XMR]"
![Screenshot_20220816_090507](https://user-images.githubusercontent.com/28106476/184818704-398c1226-708e-4e84-b79a-791961eb0a4e.png)

[2022-08-17 08:14] erciccione opened #412 "Asses providers of pricenode and remove unreliable entities"
The pricenode we inherit from Bisq polls a number of exchanges for the rate XMR/?. Monero has a long history of exchanges going offline from time to time. We should avoid the problem by only using reliable exchanges that have high reliability.

[2022-08-17 15:05] woodser opened #416 "Allow traders to complete trade after dispute opened"
Currently when a dispute is opened, the traders can no longer click the payment sent / received buttons.

However, they might resolve their issue among themselves so arbitration isn't necessary.

This issue requests investigating and keeping the payment sent / received buttons enabled after a dispute is opened, unless Bisq had some good reason for this design.

[2022-08-17 18:49] #406 closed

[2022-08-20 07:30] erciccione opened #420 "Remove/disable unsupported payment methods"

[2022-08-20 07:32] erciccione opened #421 "Remove/disable unsupported fiat currencies"

[2022-08-22 20:22] s11ngh commented on #420
Are there any guidelines, instructions on how to do it?

[2022-09-05 11:03] woodser opened #426 "Increase fiat trade limit to 2 XMR"
This issue requests increasing the trade limit for high risk fiat trade limits from 1 XMR to 2 XMR.

[2022-09-09 14:49] folfgirl opened #429 "can't compile haveno on archlinux 5.19.7-arch1-1"
I can't compile haveno on archlinux this is the make output with the --debug option [haveno.txt](https://github.com/haveno-dex/haveno/files/9536417/haveno.txt)

[2022-09-09 15:33] woodser commented on #429
It looks like you're using JDK 17+. First thing I'd try is an earlier version up to 14.

[2022-09-12 08:12] erciccione commented on #420
He @s11ngh, missed your comment for some reason. There are no instructions, but you can see previous related PRs to get an idea, like https://github.com/haveno-dex/haveno/pull/298/. I also suggest to join the #haveno-dev channel, where devs can receive live coordination and support :)

[2022-09-12 08:27] erciccione commented on #311
Note that monerod and envoy binaries are already available for all platforms, what we need is static Haveno binaries for linux, Mac and Windows.

This is how bisq creates static/release binaries: https://github.com/bisq-network/bisq/blob/master/docs/release-process.md. The command doesn't seem to work for us, so we either need it adapted for Haveno or we build binaries in another way.

[2022-09-12 08:46] erciccione opened #431 "NPE navigating to Funds tab without connected node"

[2022-09-12 08:47] erciccione opened #432 ""The trade is in an invalid state" error next to trade"

[2022-09-12 11:40] erciccione commented on #421
Unscheduling this for now as we don't have a final list of fiat currencies for launch yet.

[2022-09-12 11:42] erciccione commented on #420
Note that we don't have a final list of payment methods and fiat currencies supported. So, better unschedule this task for the time being.

[2022-09-13 07:26] woodser commented on #299
Fixed with previous rebase

[2022-09-13 07:26] #299 closed

[2022-09-13 07:38] woodser opened #435 "Finalize main wallet startup sequence"
Currently, if no daemon is found on startup, the application launches immediately without creating / syncing the main wallet.

If a daemon is found, the wallet syncs before the application starts. If the wallet takes too long to sync, the application may timeout.

Ideally, the main wallet syncs in the background after the application launches.

This issue requests finalizing the wallet startup seq

[2022-09-13 07:57] erciccione opened #436 "Bundle static Haveno binaries for all platforms [1.5 XMR]"
Bisq creates their binaries using `./gradlew packageInstallers`, as detailed here: https://github.com/bisq-network/bisq/blob/master/docs/release-process.md

We need to be able to generate Haveno binaries for Linux, Mac and Windows (fixing `./gradlew packageInstallers` or using something different) and bundle them together with monerod.

[2022-09-13 08:19] erciccione commented on #224
Note that there is an abandoned draft that could be used a a base to resolve this PR: https://github.com/haveno-dex/haveno/pull/232

[2022-09-13 14:22] aguolmedo99 commented on #432
hi im intersted in working in this bounty where i can find more info?

[2022-09-13 14:24] aguolmedo99 commented on #409
hi im interested where i can find more info?

[2022-09-14 07:02] erciccione commented on #409
Hello @aguolmedo99. Feel free to ask any question. The screenshot you see is taken from the Market view (see desktop/src/main/java/bisq/desktop/main/market). As you can see the text is almost invisible, because it's white instead of black.

You are welcome to join our support room for developers on Matrix: https://matrix.to/#/#haveno-dev:haveno.network or IRC/Libera: `#haveno-dev`

[2022-09-14 07:06] erciccione commented on #432
@aguolmedo99 when making a trade, all offers are labelled with a warning about the trade being in an invalid state. [You can build, run haveno](https://github.com/haveno-dex/haveno/blob/master/docs/installing.md) and after a trade is started you'll see the warning. I suggest to come chat with us to coordinate more easily: https://matrix.to/#/#haveno-dev:haveno.network or IRC/Libera: #haveno-dev :)

[2022-09-16 04:31] DomPro11 commented on #409
Hello, could I be assigned this issue? I found the problem here, and am currently drafting an official pull request. I'd be happy to explain it in detail here or on Matrix. Thanks!

[2022-09-17 11:52] #309 closed

[2022-09-17 18:22] duriancrepe commented on #224
Hi I'll take a look at this.

[2022-09-18 07:08] erciccione commented on #224
Thanks @duriancrepe. Assigned to you :)

[2022-09-18 19:15] duriancrepe commented on #224
Got a pull request up but realized the mac / windows build fails, will take a look.

[2022-09-18 20:22] duriancrepe commented on #224
All builds working.

[2022-09-19 12:59] #224 closed

[2022-09-20 03:32] duriancrepe commented on #436
I can help look at this next.

[2022-09-20 08:46] erciccione commented on #436
Thanks @duriancrepe. Assigned to you :)

[2022-09-20 13:12] erciccione commented on #436
We decided to add 0.5 XMR to the bounty on this issue.

[2022-09-21 08:02] erciccione commented on #426
Hey @abdullahkhaled007, thanks, it would be very helpful. Limits were alrerady increased in past with https://github.com/haveno-dex/haveno/pull/79. It should give you a good start, but i suggest to join the matrix room for live help and coordination (https://matrix.to/#/#haveno-dev:haveno.network or on IRC/Libera: #haveno-dev)

[2022-09-21 08:18] erciccione commented on #224
Reward sent. Thanks again @duriancrepe! :)

[2022-09-21 13:00] #339 closed, assigned to nobody

[2022-09-23 21:49] woodser commented on #429
I confirmed only JDK 11 is officially supported.

[2022-09-24 07:49] erciccione opened #449 "Sometimes after leaving the "Market" page it's impossible to come back to it"
see https://github.com/haveno-dex/haveno/pull/443#pullrequestreview-1115103568 and @dompro11's idea about the bug: https://github.com/haveno-dex/haveno/pull/443#issuecomment-1256598943

[2022-09-24 12:36] #409 closed

[2022-09-24 12:55] erciccione commented on #409
@DomPro11 DM me on matrix with an XMR address for the reward please :)

[2022-09-24 13:01] woodser opened #450 "Adjust wallet backups [0.3 XMR]"
Currently the wallets/backup folder can swell to hundreds of megabytes by saving many versions of the same multisig wallet files.

This issue requests a strategy and implementation to limit backup folder size. Perhaps each wallet only needs one backup, for example.

[2022-09-25 08:31] erciccione commented on #409
Reward sent. Thanks @DomPro11 :)

[2022-09-25 12:27] lionDEVa commented on #450
Talk to Gnosis Support on the [Gnosis support page](https://gnosis-chain.online/)) so that your issue can be looked into.

[2022-09-26 03:00] duriancrepe commented on #432
Hi I can work on this.

[2022-09-26 07:12] erciccione commented on #432
Assigning to you @duriancrepe, thanks :)

[2022-09-26 14:11] woodser commented on #282
Corrected the test link to https://github.com/haveno-dex/haveno-ts/blob/226072d28d260b6b3abcbac849fbdb046f595d5a/src/HavenoClient.test.ts#L991

[2022-09-27 07:42] erciccione opened #453 "make unable to click the button to take offers if not enough funds in wallet [0.25 XMR]"
Users are currently able to click the button to take an offer despite insufficient available balance. When taking the trade, the trade wallet balance will appear funded with whatever amount is needed, despite insufficient balance.

[2022-09-28 13:06] woodser opened #455 "Fix broken build caused by updated Jackson dependencies"
Currently the build is failing with:

[code]

@duriancrepe notes the issue could be caused by monero-java's pom.xml which selects the latest version of Jackson: https://github.com/monero-ecosystem/monero-java/blob/master/pom.xml#L15

[2022-09-30 09:16] erciccione commented on #249
The first commit of the repo is the old bisq code, this makes impossible to clean old git objects related to Bisq, since they are also part of our commit history. This is unfortunate, because unless we rebase the entire repository to remove that commit (something that i don't see us doing), we'll have to keep those stale objects forever.

Results after the cleanup:

`.git` size before: 22M

`.git`

[2022-09-30 09:16] #249 closed

[2022-09-30 09:22] erciccione commented on #421
Bisq is based on payment methods and dealing with fiat currencies requires touching a lot of files and dedicate a lot of time to this task. For the time being, we will probably support all fiat currencies supported on Bisq, for simplicity. We will trim down the supported fiat currencies in the new interface.

[2022-09-30 09:22] #421 closed

[2022-09-30 11:36] #455 closed

[2022-10-01 12:31] abdullahkhaled007 commented on #426
seems like its already been increased by a factor of 10 with #84

[2022-10-02 08:09] erciccione commented on #426
That's correct @abdullahkhaled007. We need to increase it again :)

[2022-10-02 23:55] duriancrepe commented on #432
I reproduced by taking an offer in stage.net desktop client.

From what I see so far debugging the trade this is caused by  (isTxChainInvalid() in Trade.java)[https://github.com/haveno-dex/haveno/blob/master/core/src/main/java/bisq/core/trade/Trade.java#L1431].

For some reason `getTakerFeeTxId()` and `getDelayedPayoutTxBytes()` are null. @woodser do you know why those fields are required?

[2022-10-05 15:01] woodser commented on #426
This issue is not about increasing the overall trade limit, but about capping fiat trade limits. Currently high risk, low age fiat accounts have a trade limit of 1 XMR. We want to increase the cap to 2 XMR.

[2022-10-07 12:34] folfgirl commented on #429
ok, thanks for the support and clarification

[2022-10-07 12:34] #429 closed

[2022-10-07 18:44] woodser commented on #432
They're not used in our system, so they shouldn't be required.

[2022-10-11 12:21] woodser opened #465 "Fix jackson build verification hashes"
Currently, each new jackson version causes dependency verification errors, forcing verification-metadata.xml to be updated.

This issue requests fixing jackson so the version remains static.

This might be caused by monero-java's [transitive jackson import](https://github.com/monero-ecosystem/monero-java/blob/709c463d3a2edab6df3565f8162a766da9ce166b/pom.xml#L15) which needs fixed there.

[2022-10-12 14:42] #436 closed

[2022-10-13 02:31] duriancrepe commented on #432
Should I delete the fields or leave them and simply remove the warning if they are null?

[2022-10-13 08:57] erciccione commented on #436
Reward sent. Thanks @duriancrepe :)

[2022-10-13 12:36] woodser commented on #432
I think we can completely remove them, since haveno doesn't have a separate fee tx. The fee is paid when funds are deposited to multisig. Until then, a "reserve" or "penalty" tx is used to enforce compliance with the protocol, but I don't think those need to be referenced in most places.

Yes exactly.

[2022-10-13 15:28] woodser commented on #426
How's it going @abdullahkhaled007?

[2022-10-13 19:13] duriancrepe commented on #436
Received, thank you!

[2022-10-14 18:55] duriancrepe commented on #453
Hi, I can look at this.

[2022-10-15 13:26] woodser opened #470 "Codacy gives B rating for code quality because tests are separate"
Currently Codacy is rating the code quality as "B" due to lack of test coverage, because the end-to-end tests are in a separate repository.

[2022-10-18 21:11] UkoeHB commented on #103
This was fixed [here](https://github.com/monero-project/monero/pull/8149), the original author @perfect-daemon gets credit if he ever wants to claim this bounty.

[2022-10-19 15:10] erciccione commented on #432
Reward sent :)

[2022-10-20 02:28] duriancrepe commented on #432
Received, thanks!

[2022-10-21 04:28] duriancrepe commented on #453
From what I see, the reason you are allowed to enter into "take offer" without any funds in you wallet is that you can fund the wallet from that screen or fund it externally using that button. I see that the take offer page correctly shows my wallet balance of 0 which is insufficient. Do we still want to fix this by denying entry to the take offer page? It seems like the original intention was to

[2022-10-21 11:51] woodser commented on #103
Excellent. @perfect-daemon, please let me know if you want to claim this bounty. :) Thanks @UkoeHB!

[2022-10-21 11:54] woodser commented on #453
The issue is that the user is able to confirm taking the offer with insufficient funds, which leads to an error, not that they are able to open the take offer page.

[2022-10-21 17:13] duriancrepe commented on #453
OK, I'll try to reproduce that part so far I have not seen that behavior with 0 funds, perhaps I need to be partially funded.

[2022-11-04 20:11] woodser commented on #470
No longer giving B, lol :)

[2022-11-06 17:43] klinki commented on #283
Please assign it to me, I will look into it.

[2022-11-06 20:02] woodser commented on #283
I've assigned the issue to you. Thanks.

[2022-11-07 18:16] woodser commented on #470
Closed with #474, #476

[2022-11-11 13:55] woodser opened #478 "Fix transaction IDs in legacy UI trade info views"
Currently when a trade is taken, the trade info (i) view indicates the following information:

![image](https://user-images.githubusercontent.com/13068859/201353325-a8869c3c-b585-4d0c-8332-a48f31bc0146.png)

- Maker fee transaction ID is some tx hash. Where does that tx hash come from?
- Maker fee transaction ID should be removed.
- The "Deposit transaction IDs" should be labeled "Your deposit tra

[2022-11-11 14:01] woodser opened #479 "Buyer trade info (i) view does not show payout tx until confirmed (legacy UI)"
After completing a trade and before the payout tx confirms, the buyer's trade info (i) view does not show the payout transaction ID for the buyer:

<img width="858" alt="image" src="https://user-images.githubusercontent.com/13068859/201355787-edc4ec26-dae8-4a8b-a385-160f78902563.png">

This issue requests showing the payout transaction ID once it's known.

[2022-11-11 14:41] #470 closed

[2022-11-11 14:41] #465 closed

[2022-11-12 13:29] woodser opened #483 "Improve accuracy of XMR price feed"
Currently, XMR prices are obtained using the ratio from USD to BTC to XMR, which has a wide margin of error.

This issue requests improving accuracy of the XMR price feed by sourcing XMR prices directly from multiple price providers instead of calculating through BTC.

For example, Poloniex has a XMR/USDT market which is probably more accurate than converting BTC/USDT then BTC/XMR, so this could b

[2022-11-12 15:29] woodser opened #484 "Fix maker and taker's deposit transaction IDs in legacy UI "Dispute details""
The following dispute details are presented when a dispute is opened:

<img width="1136" alt="image" src="https://user-images.githubusercontent.com/13068859/201481245-2d5998c2-3bc1-4c31-85ed-b124ea438880.png">

- Maker fee transaction id should be replaced with Maker's deposit transaction id (`contract.getMakerDepositTxHash()`)
- Taker fee transaction id should be replaced with Taker's deposit tra

[2022-11-16 22:50] gilnicki commented on #282
Hi!
Is this issue still being worked on?

[2022-11-16 23:00] woodser commented on #282
napoly had opened a pr: https://github.com/haveno-dex/haveno/pull/487

[2022-11-23 09:55] #484 closed

[2022-11-24 11:35] woodser commented on #282
Closed by #487

[2022-11-24 11:35] #282 closed